@{
    Layout = "/Areas/_Layout.cshtml";
    ViewData["Title"] = ViewBag.Title;
    if(ViewBag.IsCurrent)
    {
        ViewData["Tagline"] = "Giải " + ViewBag.Tournament;
    }
}
@model IEnumerable<Models.DS_VDV>

<div class="card shadow mb-4">
    <div class="card-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="table-responsive">
                <table class="table dataTable" id="normalTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Ten_Tat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CLB)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.File_Anh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Diem)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Diem_Cu)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gioi_Tinh)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string gender;
                            if (item.Gioi_Tinh) gender = "Nữ";
                            else gender = "Nam";
                            <tr>
                                <td>
                                    @if (ViewBag.Info)
                                    {
                                        @item.Ten_Tat
                                    }
                                    else
                                    {
                                        //Tạm thời không cho đăng ký đến hết giải
                                        if (item.Phe_Duyet != true)
                                        { <button type="button" class="link" data-toggle="ajax-modal" data-target="#register" data-url="@Url.Action("Register", "CurrentTab", new { id = item.Id })">@item.Ten_Tat</button>}
                                        else
                                        {@item.Ten_Tat}
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CLB)
                                </td>
                                <td>
                                    @if (item.File_Anh != null) { <img src="@("~/Files/PlayerImg/" + item.File_Anh)" asp-append-version="true" width="70" />}
                                    
                                </td>
                                <td>
                                    <a asp-action="History" asp-route-id="@item.Id">@item.Diem</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Diem_Cu)
                                </td>
                                <td>
                                    @gender
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>