@{
    ViewData["Title"] = "Thông tin " + Model.DetailedTitle;
    if (Model.IsCurrent == true)
    {
        ViewBag.CActive = "active";
    }
    else ViewBag.BActive = "active";
}
@model Tennis_Web.Models.TabViewModel
<hr />
<a asp-action="TournamentInfo" asp-controller="Tournament" asp-route-isCurrent="@Model.IsCurrent" class="btn btn-primary" asp-route-trinhID="@Model.ID">Xem thông tin giải đấu</a>
<ul class="nav nav-tabs mt-3">
    <li role="presentation" class="nav-link @(Model.ActiveTab == Tennis_Web.Models.Tab.Parameter ? "active" : string.Empty)">
        <a asp-route-tabname="Parameter" asp-route-isCurrent="@Model.IsCurrent" asp-route-ID="@Model.ID" asp-route-detailedTitle="@Model.DetailedTitle" asp-action="SwitchToTabs" asp-controller="Tournament">Tham số trình đấu</a>
    </li>
    <li role="presentation" class="nav-link @(Model.ActiveTab == Tennis_Web.Models.Tab.Pair ? "active" : string.Empty)">
        <a asp-route-tabname="Pair" asp-route-isCurrent="@Model.IsCurrent" asp-route-ID="@Model.ID" asp-route-detailedTitle="@Model.DetailedTitle" asp-action="SwitchToTabs" asp-controller="Tournament">Danh sách cặp thi đấu</a>
    </li>
    <li role="presentation" class="nav-link @(Model.ActiveTab == Tennis_Web.Models.Tab.Division ? "active" : string.Empty)">
        <a asp-route-tabname="Division" asp-route-isCurrent="@Model.IsCurrent" asp-route-ID="@Model.ID" asp-route-detailedTitle="@Model.DetailedTitle" asp-action="SwitchToTabs" asp-controller="Tournament">Bốc thăm chia bảng</a>
    </li>
</ul>
<div class="tab-content mt-3">
    @switch (Model.ActiveTab)
    {
        case Tennis_Web.Models.Tab.Parameter:
            @await Component.InvokeAsync("Parameter", Model);
            break;
        case Tennis_Web.Models.Tab.Pair:
            @await Component.InvokeAsync("Pair", Model);
            break;
        case Tennis_Web.Models.Tab.Division:
            @await Component.InvokeAsync("Division", Model);
            break;
        default:
            break;
    }
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            // ---------------- Script for updating TL_Bang - Parameter Tab ----------------
            function UpdateTL_Bang() {
                var tl_vd = $("#TL_VoDich").val();
                var tl_ck = $("#TL_ChungKet").val();
                var tl_bk = $("#TL_BanKet").val();
                var tl_tk = $("#TL_TuKet").val();
                var tl_bang = 100 - tl_vd - tl_ck - tl_bk - tl_tk
                $("#TL_Bang").val(tl_bang);
            };
            $('#TL_VoDich').on('input', function () {
                UpdateTL_Bang();
            });
            $('#TL_ChungKet').on('input', function () {
                UpdateTL_Bang();
            });
            $('#TL_BanKet').on('input', function () {
                UpdateTL_Bang();
            });
            $('#TL_TuKet').on('input', function () {
                UpdateTL_Bang();
            });
            $('#txtVdv1').on('input', function () {
                
            });
        });
    </script>
}