@{
    ViewData["Title"] = "Thông tin " + Model.DetailedTitle;
    if (Model.IsCurrent == true)
    {
        ViewBag.CActive = "active";
    }
    else ViewBag.BActive = "active";
}
@model Tennis_Web.Models.TabViewModel
<hr />
<a asp-action="TournamentInfo" asp-controller="Tournament" asp-route-isCurrent="@Model.IsCurrent" asp-route-trinhID="@Model.ID">🡸 Trở về thông tin giải đấu</a>
<ul class="nav nav-tabs mt-3">
    <li role="presentation" class="nav-link @(Model.ActiveTab == Tennis_Web.Models.Tab.Parameter ? "active" : string.Empty)">
        <a asp-route-tabname="Parameter" asp-route-isCurrent="@Model.IsCurrent" asp-route-ID="@Model.ID" asp-route-detailedTitle="@Model.DetailedTitle" asp-action="SwitchToTabs" asp-controller="Method">Tham số trình đấu</a>
    </li>
    <li role="presentation" class="nav-link @(Model.ActiveTab == Tennis_Web.Models.Tab.Pair ? "active" : string.Empty)">
        <a asp-route-tabname="Pair" asp-route-isCurrent="@Model.IsCurrent" asp-route-ID="@Model.ID" asp-route-detailedTitle="@Model.DetailedTitle" asp-action="SwitchToTabs" asp-controller="Method">Danh sách cặp thi đấu</a>
    </li>
</ul>
<div class="tab-content mt-3">
    @switch (Model.ActiveTab)
    {
        case Tennis_Web.Models.Tab.Parameter:
            @await Component.InvokeAsync("Parameter", Model);
            break;
        case Tennis_Web.Models.Tab.Pair:
            @await Component.InvokeAsync("Pair", Model);
            break;
        default:
            break;
    }
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () { UpdateTL_Bang(); });
            // ---------------- Script for updating TL_Bang - Parameter Tab ----------------
            function UpdateTL_Bang() {
                var tl_vd = $("#TL_VoDich").val();
                var tl_ck = $("#TL_ChungKet").val();
                var tl_bk = $("#TL_BanKet").val();
                var tl_tk = $("#TL_TuKet").val();
                var tl_thuong = 100 - tl_vd - tl_ck*2 - tl_bk*4 - tl_tk*8
                $("#TL_Thuong").val(tl_thuong);
            };
            $('.change').on('input', function () {
                UpdateTL_Bang();
            });
        });
    </script>
}