<!DOCTYPE html>
@*<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tennis Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BIT Khánh Hòa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Giải đấu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Lịch sử</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">VĐV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Thông tin CLB</a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-primary rounded" style="justify-content:left" asp-action="Login" asp-area="" asp-controller="Account">Đăng nhập</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Tennis Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>*@
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Website của Pa và Pi</title>
    <meta name="description" content="A free responsive website template made exclusively for Frittt by Themesforce and Sarfraz Shaukat">
    <meta name="keywords" content="website template, css3, one page, bootstrap, app template, web app, start-up">
    <meta name="author" content="Themesforce and Sarfraz Shaukat for Frittt">
    <link rel="icon" type="image/png" href="~/icon/Papa-16x16.PNG" sizes="16x16">
    <link rel="stylesheet" href="~/sports-html/css/bootstrap.css">
    <link rel="stylesheet" href="~/sports-html/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/sports-html/css/all.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="~/sports-html/js/jquery.main.js"></script>
</head>
<body class="active">
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <div class="logo"><a href="#"><img src="~/sports-html/images/logo.png" alt="Sports"></a></div>
                <nav id="nav">
                    <div class="opener-holder">
                        <a href="#" class="nav-opener"><span></span></a>
                    </div>
                    <a asp-action="Login" asp-area="" asp-controller="Account" class="btn btn-primary rounded">Đăng nhập</a>
                    <div class="nav-drop">
                        <ul>
                            <li class="active visible-sm visible-xs"><a href="#">Trang chủ</a></li>
                            <li><a href="#">Hội viên</a></li>
                            <li><a href="#">Khách mời</a></li>
                            <li><a href="#">Subscription</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                        <div class="drop-holder visible-sm visible-xs">
                            <span>Follow Us</span>
                            <ul class="social-networks">
                                <li><a class="fa fa-github" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-facebook" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="visual">
            <div class="container">
                <div class="text-block">
                    <div class="heading-holder">
                        <h1>Website Pi viết</h1>
                    </div>
                    <p class="tagline">Ba sửa và design cấu trúc</p>
                    <span class="info">Pi viết là chính</span>
                </div>
            </div>
            <img src="~/sports-html/images/img-bg-01.jpg" alt="" class="bg-stretch">
        </section>
        <section class="main">
            <div class="container">
                @RenderBody()
                <div id="cta">
                    <a href="javascript:" class="btn btn-primary rounded">Xem kết quả thi đấu</a>
                    <p>Every day is a challenge, change your life now.</p>
                </div>
                <div class="row">
                    <div class="text-box col-md-offset-1 col-md-10">
                        <h2>About the Club</h2>
                        <p>An athlete cannot run with money in his pockets. He must run with hope in his heart and dreams in his head.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="area">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <ul class="visual-list">
                            <li>
                                <div class="img-holder">
                                    <img src="~/sports-html/images/graph-04.svg" width="110" alt="">
                                </div>
                                <div class="text-holder">
                                    <h3>Riding Mountain Bike</h3>
                                    <p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. </p>
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img class="pull-left" src="~/sports-html/images/graph-03.svg" width="90" alt="">
                                </div>
                                <div class="text-holder">
                                    <h3>Volley Ball Intense Training</h3>
                                    <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="~/sports-html/images/graph-02.svg" height="84" alt="">
                                </div>
                                <div class="text-holder">
                                    <h3>Learn Surfing From Experts</h3>
                                    <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="~/sports-html/images/graph-01.svg" height="71" alt="">
                                </div>
                                <div class="text-holder">
                                    <h3>Archers Club</h3>
                                    <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <div class="slide-holder scroll-effect-init">
                            <div class="img-slide scroll-trigger"><img src="~/sports-html/images/img-01.png" height="624" width="684" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="visual-container">
            <div class="visual-area">
                <div class="container">
                    <h2>What Our Clients Say</h2>
                    <ul class="testimonials">
                        <li>
                            <div class="img-holder"><a href="#"><img src="~/sports-html/images/logo-1.png" height="84" width="124" alt=""></a></div>
                            <p><em>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </em></p>
                        </li>
                        <li>
                            <div class="img-holder"><a href="#"><img src="~/sports-html/images/logo-2.png" height="90" width="148" alt=""></a></div>
                            <p><em>Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</em></p>
                        </li>
                        <li>
                            <div class="img-holder"><a href="#"><img src="~/sports-html/images/logo-3.png" height="100" width="100" alt=""></a></div>
                            <p><em>In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </em></p>
                        </li>

                        <li>
                            <div class="img-holder"><a href="#"><img src="~/sports-html/images/logo-4.png" height="50" width="108" alt=""></a></div>
                            <p><em>Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</em></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="visual-area">
                <div class="container">
                    <h2>Pricing Plans</h2>
                    <div class="pricing-tables">
                        <div class="plan">
                            <div class="head">
                                <h3>Students</h3>
                            </div>
                            <div class="price">
                                <span class="price-main"><span class="symbol">$</span>8</span>
                                <span class="price-additional">per month</span>
                            </div>
                            <ul class="item-list">
                                <li>Personal License</li>
                            </ul>
                            <button type="button" class="btn btn-default rounded">purchase</button>
                        </div>
                        <div class="plan">
                            <div class="head">
                                <h3>professional</h3>
                            </div>
                            <div class="price">
                                <span class="price-main"><span class="symbol">$</span>19</span>
                                <span class="price-additional">per month</span>
                            </div>
                            <ul class="item-list">
                                <li>Professional License</li>
                                <li>Email Support</li>
                            </ul>
                            <button type="button" class="btn btn-default rounded">purchase</button>
                        </div>
                        <div class="plan recommended">
                            <div class="head">
                                <h3>agency</h3>
                            </div>
                            <div class="price">
                                <span class="price-main"><span class="symbol">$</span>49</span>
                                <span class="price-additional">per month</span>
                            </div>
                            <ul class="item-list">
                                <li>1-12 Team Members</li>
                                <li>Phone Support</li>
                            </ul>
                            <button type="button" class="btn btn-default rounded">purchase</button>
                        </div>
                        <div class="plan">
                            <div class="head">
                                <h3>enterprise</h3>
                            </div>
                            <div class="price">
                                <span class="price-main"><span class="symbol">$</span>79</span>
                                <span class="price-additional">per month</span>
                            </div>
                            <ul class="item-list">
                                <li>Unlimited Team Members</li>
                                <li>24/ 7 Phone Support</li>
                            </ul>
                            <button type="button" class="btn btn-default rounded">purchase</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="main-zero-padd">
            <img src="~/sports-html/images/video-placeholder.jpg" alt="" style="max-width:100%;">






        </section>

        <section class="area">
            <div class="container">
                <div class="subscribe">
                    <h3>Subscribe to Our Newsletter</h3>
                    <form class="form-inline">
                        <button type="submit" class="btn btn-primary rounded">Subscribe</button>
                        <div class="form-group">
                            <input type="email" class="form-control rounded" id="exampleInputEmail2" placeholder="Email...">
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="footer-holder">
                    <div class="row  text-center">
                        <div class="col-md-12">
                            <a href="#"><img src="~/sports-html/images/logo-footer.png" alt="Sports HTML Template"></a>
                        </div>

                    </div>
                    <div class="row">
                        <div id="cta" class="cta-footer">
                            <a href="javascript:" class="btn btn-primary rounded">Start Training Now</a>
                            <p>Every day is a challenge, change your life now.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>We live your galaxy</h3>

                            <p>
                                15 New Street, Badass Suite, Greyland, Wetworld.
                            </p>
                        </div>

                        <div class="col-md-6 text-right">
                            <ul class="social">
                                <li><a href="javascript:"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="javascript:"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="javascript:"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/sports-html/js/jquery-1.11.2.min.js"></script>
    <script src="~/sports-html/js/bootstrap.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>