<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Website của Pa và Pi</title>
    <meta name="description" content="A free responsive website template made exclusively for Frittt by Themesforce and Sarfraz Shaukat">
    <meta name="keywords" content="website template, css3, one page, bootstrap, app template, web app, start-up">
    <meta name="author" content="Themesforce and Sarfraz Shaukat for Frittt">
    <link rel="icon" type="image/png" href="~/images/icon/KAICT_logo.PNG" sizes="16x16">

    @*<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    @*<link rel="stylesheet" type="text/css" href="~/sbadmin/vendor/fontawesome-free/css/all.min.css">*@
    @*<link rel="stylesheet" type="text/css" href="~/sbadmin/css/sb-admin-2.css" />*@
    <link rel="stylesheet" type="text/css" href="~/datatables/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="~/sports-html/css/bootstrap.css">
    @*<link rel="stylesheet" href="~/sports-html/fonts/font-awesome-4.3.0/css/font-awesome.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/sbadmin/css/sb-admin-2.min.css">
    <link rel="stylesheet" type="text/css" href="~/sbadmin/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/sports-html/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tournament.css" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column min-vh-100">

            <header id="header">
                <div class="container">
                    <div class="logo"><a href="#"><img src="~/images/logo_long.png" width="400" alt="BIT Khánh Hòa"></a></div>
                    <nav id="nav">
                        <div class="opener-holder">
                            <a href="#" class="nav-opener"><span></span></a>
                        </div>
                        <a asp-action="Logout" asp-area="" asp-controller="Account" class="btn btn-primary rounded-pill">Đăng nhập</a>
                        <div class="nav-drop">
                            <ul>
                                <li class="@ViewBag.IActive"><a asp-action="Index">Trang chủ</a></li>
                                <li class="@ViewBag.PActive"><a asp-action="Player">Vận động viên</a></li>
                                <li class="@ViewBag.RActive"><a asp-action="Result">Kết quả thi đấu</a></li>
                                <li class="@ViewBag.AActive"><a asp-action="Announcement">Thông báo</a></li>
                            </ul>
                            @*<div class="drop-holder visible-sm visible-xs">
                                <span>Follow Us</span>
                                <ul class="social-networks">
                                    <li><a class="fa fa-github" href="#"></a></li>
                                    <li><a class="fa fa-twitter" href="#"></a></li>
                                    <li><a class="fa fa-facebook" href="#"></a></li>
                                </ul>
                            </div>*@
                        </div>
                    </nav>
                </div>
            </header>
            @RenderBody()
            </div>
            <footer id="footer" class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Copyright © Tennis Web 2021
                    </div>
                    @*<div class="row  text-center">
                    <div class="col-md-12">
                        <a href="#"><img src="~/images/KAICT-removebg.png" alt="BIT Khánh Hòa"></a>
                    </div>

                    </div>
                    <div class="row">
                        <div id="cta" class="cta-footer">
                            <a href="javascript:" class="btn btn-primary rounded">Start Training Now</a>
                            <p>Every day is a challenge, change your life now.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>We live your galaxy</h3>

                            <p>
                                15 New Street, Badass Suite, Greyland, Wetworld.
                            </p>
                        </div>

                        <div class="col-md-6 text-right">
                            <ul class="social">
                                <li><a href="javascript:"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="javascript:"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="javascript:"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>*@
                </div>
            </footer>
        </div>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded-lg" href="#page-top" style=" width: 4.5rem; height: 4.5rem;">
            <i class="fas fa-angle-up"></i>
        </a>
        @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

        <!-- Bootstrap core JavaScript-->
        <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
        <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/sbadmin/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->

        <script src="~/sports-html/js/jquery-1.11.2.min.js"></script>
        <script src="~/sports-html/js/bootstrap.js"></script>
        <script src="~/sports-html/js/jquery.main.js"></script>

        <script src="~/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/datatables/js/dataTables.bootstrap4.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>