    <!-- Scroll to Top Button -->
    @*<a class="scroll-to-top rounded-lg" href="#page-top" style=" width: 4.5rem; height: 4.5rem;">
            <i class="fas fa-angle-up"></i>
        </a>*@
@{ 
    var indexPage = ViewData["Title"].ToString() == "Trang chủ";
    var align = indexPage ? "justify-content-xl-start" :"";
    var background = indexPage ? "background-img" : "color-background";
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <!-- Favicon-->
    <link href="~/images/icon/bg-logo.png" sizes="16x16" rel="icon" type="image/png">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" />

    <link href="~/modern-business/css/styles.css" rel="stylesheet">
    <link href="~/css/shared.css" rel="stylesheet">
    <link href="~/css/tournament.css" rel="stylesheet" type="text/css">
    <link href="~/css/default.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100" id="page-top">
    @await Component.InvokeAsync("DefaultLayout")

    <main class="flex-shrink-0 @background">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" asp-action="Index" asp-controller="NoRole">
                    <img src="~/images/icon/white-logo.png" height="50" alt="BIT Khánh Hòa">
                    <span class="font-weight-bold" style="font-family:Arial, Helvetica, sans-serif">Khanh Hoa IT Business Club</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="NoRole">Trang chủ</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarActivity" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hoạt động</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarActivity">
                                <li><a class="dropdown-item">Từ thiện</a></li>
                                <li><a class="dropdown-item">Tennis</a></li>
                                <li><a class="dropdown-item">Khác</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarPlayer" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hội viên</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarPlayer">
                                <li><a class="dropdown-item" asp-action="Player" asp-controller="PlayerArea" asp-route-isGuest="false">Chính thức</a></li>
                                <li><a class="dropdown-item" asp-action="Player" asp-controller="PlayerArea" asp-route-isGuest="true">Khách mời</a></li>
                                <li><a class="dropdown-item" asp-action="Player" asp-controller="PlayerArea">Tất cả</a></li>
                            </ul>
                        </li>
                        @if ((bool?)TempData["HasCurrent"] == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarCurrent" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Giải hiện tại</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarCurrent">
                                    <li><a class="dropdown-item" asp-action="Announcement" asp-controller="NoRole" asp-route-isCurrent="true">Thông báo</a></li>
                                    @*<li><a class="dropdown-item" asp-action="Player" asp-controller="PlayerArea" asp-route-isCurrent="true">Đăng kí tham gia</a></li>*@
                                    <li><a class="dropdown-item" asp-action="Player" asp-controller="PlayerArea" asp-route-isCurrent="true" asp-route-participate="true">VĐV tham gia</a></li>
                                    @if ((bool?)TempData["HasLevel"] == true)
                                    {
                                        <li><a class="dropdown-item" asp-action="Pair" asp-controller="CurrentTab">Danh sách cặp</a></li>
                                        <li><a class="dropdown-item" asp-action="Result" asp-controller="NoRole" asp-route-isCurrent="true">Kết quả thi đấu</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        <li class="nav-item"><a class="nav-link" asp-action="Tournament" asp-controller="NoRole">Giải cũ</a></li>
                        @*<li class="nav-item"><a class="nav-link" asp-action="Announcement" asp-controller="NoRole">Thông báo</a></li>*@
                        @*<li class="nav-item"><a class="nav-link" asp-action="Login" asp-area="" asp-controller="Account">Đăng nhập</a></li>*@

                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header-->
        @if (indexPage)
        {
            <header class="py-2" style="background-color:transparent">
                <div class="container px-0">
                    <div class="row gx-5 align-items-lg-center justify-content-xl-start">
                        <div class="">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">BIT Khánh Hòa</h1>
                                <p class="lead fw-normal text-white-50">CLB các doanh nghiệp CNTT tỉnh Khánh Hòa</p>
                                @* justify-content-center
                                    col-lg-8 col-xl-7 col-xxl-6<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <a class="btn btn-warning btn-lg px-4 me-sm-3" asp-action="HotNews" asp-controller="NoRole">Tin nổi bật</a>
            <a class="btn btn-outline-light btn-lg px-4" href="https://hoitinhoc.khanhhoa.vn/gioi-thieu-hoi-tin-hoc-khanh-hoa_270_338_0_a.html">Giới thiệu CLB</a>
        </div>*@
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block">
                            <img class="img-fluid rounded-3 mb-4" src="~/images/still-bg-1.jpg">
                        </div>
                    </div>
                </div>
            </header>
        }
        <div class="container px-4 my-4">
            @if (!indexPage)
            {
                <div class="text-center mb-3">
                    <h1>@ViewData["Title"]</h1>
                    <p class="lead mb-0 tagline">@ViewData["Tagline"]</p>
                    <div class="div-dec"></div>
                </div>
            }
            <div class="row gx-5 justify-content-center @align" id="body">
                @RenderBody()
            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer class="bg-dark mt-auto py-1 small">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row text-white">
                <div class="col-auto"><div class="m-0">Copyright © Veronica Vu 2022</div></div>
                <div class="col-auto">
                    <span>Website khác</span>
                    @*<a class="fs-5 px-2 link-light" href="https://www.facebook.com/bit.khanhhoa/"><i class="bi-facebook"></i></a>*@
                    <a class="fs-5 px-2 link-light" href="https://www.facebook.com/groups/1466938593517889/?ref=share"><i class="bi-facebook"></i></a>
                    <a class="fs-5 link-light" href="https://kaict.org.vn/"><i class="bi-globe2"></i></a>
                </div>
                <div class="col-auto">
                    <span class="mx-1">Lượt truy cập</span>
                    <!-- hitwebcounter Code START -->
                    <a href="https://www.hitwebcounter.com" target="_blank">
                        <img src="https://hitwebcounter.com/counter/counter.php?page=7971993&style=0006&nbdigits=9&type=page&initCount=0" title="Free Counter" Alt="web counter" border="0" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Page level plugins -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/js/default.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)

</body>
</html>