@*@using Microsoft.AspNetCore.Identity
@using Models
@inject SignInManager<DS_VDV> signInManager*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIT Khánh Hòa</title>
    <meta name="description" content="A free responsive website template made exclusively for Frittt by Themesforce and Sarfraz Shaukat">
    <meta name="keywords" content="website template, css3, one page, bootstrap, app template, web app, start-up">
    <meta name="author" content="Themesforce and Sarfraz Shaukat for Frittt">
    <link rel="icon" type="image/png" href="~/images/icon/KAICT_logo.png" sizes="16x16">

    <link rel="stylesheet" type="text/css" href="~/datatables/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="~/sports-html/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/sbadmin/css/sb-admin-2.min.css">
    <link rel="stylesheet" type="text/css" href="~/sbadmin/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/sports-html/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/css/shared.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tournament.css" />
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column min-vh-100">
            <header id="header">
                <div class="container">
                    <div class="logo"><a href="#"><img src="~/images/logo_long.png" width="300" alt="BIT Khánh Hòa"></a></div>
                    <nav id="nav">
                        <div class="opener-holder">
                            <a href="#" class="nav-opener"><span></span></a>
                        </div>
                        @*@if (signInManager.IsSignedIn(User)) { <a asp-action="Logout" class="btn btn-primary rounded-pill">Đăng nhập</a> }
                        else { <a asp-action="Login" class="btn btn-primary rounded-pill">Đăng nhập</a> }*@   
                        <a asp-action="Login" asp-area="" asp-controller="Account" class="btn btn-primary rounded-pill">Đăng nhập</a>
                        <div class="nav-drop" style="float: none;">
                            <ul>
                                <li @*class="@ViewBag.IActive"*@><a asp-action="Index" asp-controller="NoRole">Trang chủ</a></li>
                                <li @*class="@ViewBag.CActive"*@>
                                    <a class="dropdownBtn" style="padding-bottom: 12px;">Hoạt động xã hội</a>
                                    <div class="dropdown">
                                        <a>HĐ từ thiện</a>
                                        <a>HĐ TDTT</a>
                                        <a>HĐ khác</a>
                                    </div>
                                </li>
                                <li @*class="@ViewBag.PActive"*@>
                                    <a class="dropdownBtn" style="padding-bottom: 12px;">Hội viên</a>
                                    <div class="dropdown">
                                        <a asp-action="Player" asp-controller="NoRole">Chính thức</a>
                                        <a asp-action="Player" asp-controller="NoRole" asp-route-isGuest="true">Khách mời</a>
                                    </div>
                                </li>
                                <li @*class="@ViewBag.CRActive"*@>
                                    <a class="dropdownBtn" style="padding-bottom: 12px;">Giải hiện tại</a>
                                    <div class="dropdown">
                                        <a asp-action="Guideline" asp-controller="CurrentTab">Điều lệ</a>
                                        <a asp-action="Player" asp-controller="NoRole" asp-route-isCurrent="true">Đăng kí tham gia</a>
                                        <a asp-action="Player" asp-controller="NoRole" asp-route-isCurrent="true" asp-route-participate="true">VĐV tham gia</a>
                                        <a asp-action="Pair" asp-controller="CurrentTab">Danh sách cặp</a>
                                        <a asp-action="Result" asp-controller="NoRole" asp-route-isCurrent="true">Kết quả thi đấu</a>
                                    </div>
                                </li>
                                <li @*class="@ViewBag.BRActive"*@><a asp-action="Result" asp-controller="NoRole" asp-route-isCurrent="false">Giải cũ</a></li>
                                <li @*class="@ViewBag.AActive"*@><a asp-action="Announcement" asp-controller="NoRole">Thông báo</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            @RenderBody()
        </div>
        <footer id="footer" class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    Copyright © Veronica Vu 2022
                </div>

            </div>
        </footer>
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded-lg" href="#page-top" style=" width: 4.5rem; height: 4.5rem;">
        <i class="fas fa-angle-up"></i>
    </a>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    <!-- Bootstrap core JavaScript-->
    <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->

    <script src="~/sports-html/js/bootstrap.js"></script>
    <script src="~/sports-html/js/jquery.main.js"></script>

    <script src="~/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/datatables/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>