@{
    bool a1 = ViewBag.IsCurrent == true;
}
@model Models.DS_Trinh
<form asp-action="UpdateParameter" asp-controller="Level">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <input asp-for="ID_Giai" type="hidden" />
    <dl class="row">
        <dt class="col-sm-2 font-weight-bold">
            @Html.DisplayNameFor(m => m.Trinh)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="Trinh" class="form-control col-sm-3" required />
                <span asp-validation-for="Trinh" class="text-danger"></span>
            }
            else
            {<input asp-for="Trinh" class="form-control col-sm-3" disabled />}
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            @Html.DisplayNameFor(m => m.TL_VoDich)
        </dt>
        <dd class="col-sm-10 row ">
            @if (a1)
            {
                <input asp-for="TL_VoDich" class="form-control col-sm-3" id="TL_VoDich" />
                <label class="text-lg"> %</label>
                <span asp-validation-for="TL_VoDich" class="text-danger"></span>
            }
            else
            {
                <input asp-for="TL_VoDich" class=" form-control col-sm-3" disabled />
                <label class="text-lg"> %</label>
            }
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            @Html.DisplayNameFor(m => m.TL_ChungKet)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="TL_ChungKet" class=" form-control col-sm-3" id="TL_ChungKet" />
                <label class="text-lg"> %</label>
                <span asp-validation-for="TL_ChungKet" class="text-danger"></span>
            }
            else
            {
                <input asp-for="TL_ChungKet" class=" form-control col-sm-3" disabled />
                <label class="text-lg"> %</label>
            }
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            @Html.DisplayNameFor(m => m.TL_BanKet)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="TL_BanKet" class=" form-control col-sm-3" id="TL_BanKet" />
                <label class="text-lg"> %</label>
                <span asp-validation-for="TL_BanKet" class="text-danger"></span>
            }
            else
            {
                <input asp-for="TL_BanKet" class=" form-control col-sm-3" disabled />
                <label class="text-lg"> %</label>
            }
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            @Html.DisplayNameFor(m => m.TL_TuKet)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="TL_TuKet" class=" form-control col-sm-3" id="TL_TuKet" />
                <label class="text-lg"> %</label>
                <span asp-validation-for="TL_TuKet" class="text-danger"></span>
            }
            else
            {
                <input asp-for="TL_TuKet" class=" form-control col-sm-3" disabled />
                <label class="text-lg"> %</label>
            }
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            @Html.DisplayNameFor(m => m.TL_Bang)
        </dt>
        <dd class="col-sm-10 row">
            <input asp-for="TL_Bang" class=" form-control col-sm-3" id="TL_Bang" disabled />
            <label class="text-lg"> %</label>
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            @Html.DisplayNameFor(m => m.TongDiem)
        </dt>
        <dd class="col-sm-10 row">
            <input asp-for="TongDiem" class=" form-control col-sm-3" disabled />
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            @Html.DisplayNameFor(m => m.ChenhLech)
        </dt>
        <dd class="col-sm-10 row">
            <input asp-for="ChenhLech" class=" form-control col-sm-3" disabled />
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            @Html.DisplayNameFor(m => m.Diem_PB)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="Diem_PB" class=" form-control col-sm-3" required />
                <span asp-validation-for="Diem_PB" class="text-danger"></span>
            }
            else
            {<input asp-for="Diem_PB" class=" form-control col-sm-3" disabled />}
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            @Html.DisplayNameFor(m => m.DiemTru)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="DiemTru" class=" form-control col-sm-3" required />
                <span asp-validation-for="DiemTru" class="text-danger"></span>
            }
            else
            {<input asp-for="DiemTru" class=" form-control col-sm-3" disabled />}
        </dd>
    </dl>
    @if (a1)
    {
        var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
        {
            BtnMsg = "Xóa",
            Message = "xóa trình đấu",
            ActionName = "DeleteLevel",
            ControllerName = "Tournament",
            RouteValues = new { Id = Model.Id }
        };
        <div class="form-group">
            <input type="submit" value="Lưu thay đổi" class="btn btn-primary mr-2" formmethod="post" />
            <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Xóa trình đấu</button>
        </div>
    }

</form>

<!-- Modal placeholder -->
<!--<div id="modal-placeholder"></div>-->
<script type="text/javascript">
    // ---------------- Script for updating TL_Bang - Parameter Tab ----------------
    $(function () {
        function UpdateTL_Bang() {
            var tl_vd = $("#TL_VoDich").val();
            var tl_ck = $("#TL_ChungKet").val();
            var tl_bk = $("#TL_BanKet").val();
            var tl_tk = $("#TL_TuKet").val();
            var tl_bang = 100 - tl_vd - tl_ck - tl_bk - tl_tk
            $("#TL_Bang").val(tl_bang);
        };
        $('#TL_VoDich').on('input', function () {
            UpdateTL_Bang();
        });
        $('#TL_ChungKet').on('input', function () {
            UpdateTL_Bang();
        });
        $('#TL_BanKet').on('input', function () {
            UpdateTL_Bang();
        });
        $('#TL_TuKet').on('input', function () {
            UpdateTL_Bang();
        });
    });
</script>