@*
    Level Parameter View Component
*@
@{
    bool a1 = ViewBag.IsCurrent == true;
}
@model Models.DS_Trinh
<form asp-action="UpdateParameter" asp-controller="Level">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <input asp-for="ID_Giai" type="hidden" />
    <dl class="row">
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.Trinh)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="Trinh" class="form-control col-sm-3" required />
                <span asp-validation-for="Trinh" class="text-danger"></span>
            }
            else
            {<input asp-for="Trinh" class="form-control col-sm-3" disabled />}
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.TL_VoDich)
        </dt>
        <dd class="col-sm-10 row ">
            @if (a1)
            {
                <input asp-for="TL_VoDich" class="form-control col-sm-3 change" />
                <label class="text-lg"> %</label>
                <span asp-validation-for="TL_VoDich" class="text-danger"></span>
            }
            else
            {
                <input asp-for="TL_VoDich" class=" form-control col-sm-3" disabled />
                <label class="text-lg"> %</label>
            }
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.TL_ChungKet)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="TL_ChungKet" class=" form-control col-sm-3 change" />
                <label class="text-lg"> %</label>
                <span asp-validation-for="TL_ChungKet" class="text-danger"></span>
            }
            else
            {
                <input asp-for="TL_ChungKet" class=" form-control col-sm-3" disabled />
                <label class="text-lg"> %</label>
            }
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.TL_BanKet)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="TL_BanKet" class=" form-control col-sm-3 change" />
                <label class="text-lg"> %</label>
                <span asp-validation-for="TL_BanKet" class="text-danger"></span>
            }
            else
            {
                <input asp-for="TL_BanKet" class=" form-control col-sm-3" disabled />
                <label class="text-lg"> %</label>
            }
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.TL_TuKet)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="TL_TuKet" class=" form-control col-sm-3 change" />
                <label class="text-lg"> %</label>
                <span asp-validation-for="TL_TuKet" class="text-danger"></span>
            }
            else
            {
                <input asp-for="TL_TuKet" class=" form-control col-sm-3" disabled />
                <label class="text-lg"> %</label>
            }
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            Tỉ lệ thưởng Bảng
        </dt>
        <dd class="col-sm-10 row">
            <input class=" form-control col-sm-3" id="TL_Thuong" disabled />
            <label class="text-lg"> %</label>
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.TL_Bang)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="TL_Bang" class=" form-control col-sm-3" />
                <label class="text-lg"> %</label>
                <span asp-validation-for="TL_Bang" class="text-danger"></span>
            }
            else
            {
                <input asp-for="TL_Bang" class=" form-control col-sm-3" disabled />
                <label class="text-lg"> %</label>
            }
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.Tong_Diem)
        </dt>
        <dd class="col-sm-10 row">
            <input asp-for="Tong_Diem" class=" form-control col-sm-3" disabled />
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.BD_Tren)
        </dt>
        <dd class="col-sm-10 row">
            <input asp-for="BD_Tren" class=" form-control col-sm-3" />
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.BD_Duoi)
        </dt>
        <dd class="col-sm-10 row">
            <input asp-for="BD_Duoi" class=" form-control col-sm-3" />
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.Chenh_Lech)
        </dt>
        <dd class="col-sm-10 row">
            <input asp-for="Chenh_Lech" class=" form-control col-sm-3" disabled />
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.Diem_PB)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="Diem_PB" class=" form-control col-sm-3" required />
                <span asp-validation-for="Diem_PB" class="text-danger"></span>
            }
            else
            {<input asp-for="Diem_PB" class=" form-control col-sm-3" disabled />}
        </dd>
        <dt class="col-sm-2 font-weight-bold text-align-right">
            @Html.DisplayNameFor(m => m.Diem_Tru)
        </dt>
        <dd class="col-sm-10 row">
            @if (a1)
            {
                <input asp-for="Diem_Tru" class=" form-control col-sm-3" required />
                <span asp-validation-for="Diem_Tru" class="text-danger"></span>
            }
            else
            {<input asp-for="Diem_Tru" class=" form-control col-sm-3" disabled />}
        </dd>
    </dl>
    @if (a1)
    {
        var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
        {
            BtnMsg = "Xóa",
            Message = "xóa trình đấu",
            ActionName = "DeleteLevel",
            ControllerName = "Tournament",
            Id = Model.Id.ToString()
        };
        <div class="form-group">
            <input type="submit" value="Lưu thay đổi" class="btn btn-success mr-2" formmethod="post" />
            <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Xóa trình đấu</button>
        </div>
    }

</form>

<!-- Modal placeholder -->
<div id="modal-placeholder"></div>
