@*
    Special View Component
*@
@{
    bool hasRole = ViewBag.Admin == true;
    bool isCurrent = ViewBag.IsCurrent == true;
    int bracket = 1;
    int count = 0;
}
@model RoundTabViewModel
@if (Model.DS_Tran.Any())
{
    <input type="hidden" asp-for="@Model.ID_Trinh" />
    <form asp-action="UpdateSpecial" asp-controller="Result">
        <div class="tournament-container">
            <div class="tournament-headers" id="tournamentHeader">
                @for (int i = ViewBag.RoundNum; i > 0; i--)
                {
                    <h3>@ViewBag.ListRound[i]</h3>
                }
            </div>
            <div class="tournament-brackets">
                @for (int i = ViewBag.RoundNum; i > 0; i--)
                {
                    <ul class="bracket bracket-@bracket">
                        @for (int j = 0; j < Math.Pow(2, i) / 2; j++)
                        {
                            <li class="team-item row">
                                <div class="child">
                                    <div class="row">
                                        @if (Model.DS_Tran[count].ID_Cap1 != null)
                                        {
                                            var pair1 = Model.DS_Cap.Find(m => m.Id == Model.DS_Tran[count].ID_Cap1);
                                            <div class="col-12">@pair1.VDV1.Ten_Tat</div>
                                            <div class="col-12">@pair1.VDV2.Ten_Tat</div>
                                            <input type="hidden" asp-for="@Model.DS_Tran[count].Id" />
                                            <input type="hidden" asp-for="@Model.DS_Tran[count].Ma_Vong" />
                                        }
                                        else
                                        {
                                            <div class="col-12">@Model.DS_Tran[count].Ma_Tran</div>
                                            <input type="hidden" asp-for="@Model.DS_Tran[count].Id" />
                                            <input type="hidden" asp-for="@Model.DS_Tran[count].Ma_Vong" />
                                        }
                                    </div>
                                    <div class="result">
                                        @if (hasRole)
                                        {<input class="form-control form-control-sm" style="width:1.75rem">}
                                    </div>
                                </div>
                                <div class="child top-border">
                                    <div class="row">
                                        @if (Model.DS_Tran[count].ID_Cap2 != null)
                                        {
                                            var pair1 = Model.DS_Cap.Find(m => m.Id == Model.DS_Tran[count].ID_Cap2);
                                            <div class="col-12">@pair1.VDV1.Ten_Tat</div>
                                            <div class="col-12">@pair1.VDV2.Ten_Tat</div>
                                        }
                                        else
                                        {
                                            <div class="col-12">@Model.DS_Tran[count].Ma_Tran</div>
                                        }
                                    </div>
                                    <div class="result">
                                        @if (hasRole)
                                        {<input class="form-control form-control-sm" style="width:1.75rem">}
                                    </div>
                                </div>
                            </li>
                            count++;
                        }
                    </ul>
                    bracket++;
                }
            </div>
        </div>
        @if (hasRole && isCurrent)
        {
            <div class="form-group" style="position: -webkit-sticky; /* Safari */ position: sticky;">
                <input type="submit" value="Lưu thay đổi" class="btn btn-success" formmethod="post" />
            </div>
        }
    </form>
}
else
{
    <h5 class="font-weight-bold text-danger">Chưa có danh sách trận đấu!</h5>
}