@*
    Special View Component
*@
@{
    bool hasRole = ViewBag.Admin == true && ViewBag.IsCurrent == true;
    int bracket = 1;
    int count = 0;

    bool highRole = User.IsInRole("Manager") || User.IsInRole("Admin");
}
@model RoundTabViewModel
@if (Model.DS_Tran.Any())
{
    <form asp-action="UpdateSpecial" asp-controller="Result">
        <input type="hidden" asp-for="@Model.ID_Trinh" />
        <div class="tournament-container">
            <div class="tournament-headers" id="tournamentHeader">
                <h3 style="width: calc(10rem + 36px);">Mẫu</h3>
                @for (int i = ViewBag.RoundNum; i > 0; i--)
                {
                    <h3>@ViewBag.ListRound[i]</h3>
                }
            </div>
            <div class="tournament-brackets">
                @for (int i = ViewBag.RoundNum; i > 0; i--)
                {
                    <ul class="bracket bracket-@bracket">
                        @for (int j = 0; j < Math.Pow(2, i) / 2; j++)
                        {
                            Models.DS_Cap pair1 = Model.DS_Cap.Find(m => m.Id == Model.DS_Tran[count].ID_Cap1);
                            Models.DS_Cap pair2 = Model.DS_Cap.Find(m => m.Id == Model.DS_Tran[count].ID_Cap2);

                            int difference = Model.DS_Tran[count].Kq_1 - Model.DS_Tran[count].Kq_2;
                            string boldP1 = difference > 0 ? "win" : "";
                            string boldP2 = difference < 0 ? "win" : "";
                            bool first = i == ViewBag.RoundNum;

                            <li class="team-item row">
                                <input type="hidden" asp-for="@Model.DS_Tran[count].Id" />
                                <input type="hidden" asp-for="@Model.DS_Tran[count].Ma_Vong" />
                                <input type="hidden" asp-for="@Model.DS_Tran[count].Ma_Tran"/>
                                <input type="hidden" asp-for="@Model.DS_Tran[count].ID_Cap1" />
                                <input type="hidden" asp-for="@Model.DS_Tran[count].ID_Cap2"/>
                                <div class="child @boldP1">
                                    @if (first)
                                    {
                                        <div class="col">
                                            @if (hasRole)
                                            {
                                                if (highRole)
                                                {
                                                    // If role is Manager or Admin => full editing
                                                    <input class="form-control form-control-sm template" asp-for="@Model.DS_Tran[j].Chon_Cap_1" />
                                                }
                                                else
                                                { <input class="form-control form-control-sm template" asp-for="@Model.DS_Tran[j].Chon_Cap_1" disabled />}
                                                
                                            }
                                            else
                                            {@Model.DS_Tran[j].Chon_Cap_1}
                                        </div>
                                    }
                                    <div class="col middle">
                                        @if (pair1 != null)
                                        {
                                            @*<div style="padding-top: 1px;">@pair1.VDV1.Ten_Tat</div>
                                                <div style="padding-top: 3px;">@pair1.VDV2.Ten_Tat</div>*@
                                            <div>@pair1.VDV1.Ten_Tat + @pair1.VDV2.Ten_Tat</div>
                                        }
                                        else
                                        {
                                            if (first && hasRole)
                                            { <select asp-for="@Model.DS_Tran[count].ID_Cap1" class="form-control form-control-sm" asp-items="ViewBag.PairIds"></select>}
                                        }
                                    </div>
                                    <div class="result">
                                        @if (hasRole)
                                        {
                                            if (highRole || (!highRole && Model.DS_Tran[count].Kq_1 <= 0))
                                            {
                                                // If role is Manager or Admin => full editing
                                                // If role is Referee => Only edit 0 field
                                                <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[count].Kq_1" />
                                            }
                                            else
                                            { <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[count].Kq_1" disabled />}
                                        }
                                        else
                                        {
                                            if (difference > 0)
                                            { <i class="fa fa-check"></i> }
                                            @Model.DS_Tran[count].Kq_1
                                        }
                                    </div>
                                </div>
                                <div class="child top-border @boldP2">
                                    @if (first)
                                    {
                                        <div class="col">
                                            @if (hasRole)
                                            {
                                                if (highRole)
                                                {
                                                    // If role is Manager or Admin => full editing
                                                    <input class="form-control form-control-sm template" asp-for="@Model.DS_Tran[j].Chon_Cap_2" />
                                                }
                                                else
                                                { <input class="form-control form-control-sm template" asp-for="@Model.DS_Tran[j].Chon_Cap_2" disabled />}
                                            }
                                            else
                                            {@Model.DS_Tran[j].Chon_Cap_2}
                                        </div>
                                    }
                                    <div class="col middle">
                                        @if (pair2 != null)
                                        {
                                            <div>@pair2.VDV1.Ten_Tat + @pair2.VDV2.Ten_Tat</div>
                                        }
                                        else
                                        {
                                            if (first && hasRole)
                                            { <select asp-for="@Model.DS_Tran[count].ID_Cap2" class="form-control form-control-sm" asp-items="ViewBag.PairIds"></select>}
                                        }
                                    </div>
                                    <div class="result">
                                        @if (hasRole)
                                        {
                                            if (highRole || (!highRole && Model.DS_Tran[count].Kq_2 <= 0))
                                            {
                                                // If role is Manager or Admin => full editing
                                                // If role is Referee => Only edit 0 field
                                                <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[count].Kq_2" />
                                            }
                                            else
                                            { <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[count].Kq_2" disabled />}
                                        }
                                        else
                                        {
                                            if (difference < 0)
                                            { <i class="fa fa-check"></i>}
                                            @Model.DS_Tran[count].Kq_2
                                        }
                                    </div>
                                </div>
                            </li>
                            count++;
                        }
                    </ul>
                    bracket++;
                }
            </div>
        </div>
        @if (hasRole)
        {
            var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
            {
                BtnMsg = "Xóa",
                Message = "xóa kết quả toàn bộ vòng đặc biệt",
                ActionName = "ResetSpecial",
                ControllerName = "Result",
                Id = Model.ID_Trinh.ToString()
            };
            <div class="form-group" style="position: -webkit-sticky; /* Safari */ position: sticky;">
                <input type="submit" value="Lưu thay đổi" class="btn btn-success mr-2" formmethod="post" />
                @if (highRole) { <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Xóa kết quả</button> } 
            </div>
        }
    </form>
}
else
{
    <h5 class="font-weight-bold text-danger">Chưa có danh sách trận đấu!</h5>
}
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>