@{
    ViewData["Title"] = "Thêm thông tin chi tiết trước khi tạo DS trận - Giải " + ViewBag.TourName;
}
@model List<MatchGeneratorViewModel>
<hr />
<form asp-action="AdditionalInfo">
    <div asp-validation-summary="All" class="text-danger"></div>
    @for (int i = 0; i < Model.Count; i++)
    {
        <input type="hidden" asp-for="@Model[i].ID_Trinh" />
        <input type="hidden" asp-for="@Model[i].Trinh" />
        <div class="card shadow mb-4" name="ntrinh">
            <div class="card-header py-3">
                <h5>Trình @Model[i].Trinh</h5>
            </div>
            <div class="card-body">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="table-responsive">
                        <table class="table dataTable" >
                            <thead>
                                <tr>
                                    <th>Bảng</th>
                                    <th>Số cặp trong bảng</th>
                                    <th>Chọn số cặp đi tiếp</th>
                                    <th>Chọn bảng cho Playoff</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 0; j < Model[i].ChosenPerTable.Count; j++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model[i].ChosenPerTable[j].Table" />
                                            @Model[i].ChosenPerTable[j].Table
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="@Model[i].ChosenPerTable[j].PairsNum" />
                                            @Model[i].ChosenPerTable[j].PairsNum
                                        </td>
                                        <td class="align-center" name="chosen"><input class="form-control col-6" asp-for="@Model[i].ChosenPerTable[j].Chosen"/></td>
                                        <td name="playoff"><input class="checkbox" type="checkbox" asp-for="@Model[i].ChosenPerTable[j].Playoff" /></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2" style="text-align:right">Tổng số cặp đã chọn</th>
                                    <td class="align-center"><input class="form-control col-6" disabled name="sselect" style="text-align:center"/></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <dl class="row">
                    <dt class="col-6 font-weight-bold" style="text-align:right">
                        Tổng cặp Playoff 1 (Playoff cao nhất)
                    </dt>
                    <dd class="col-6">
                        <input class="form-control col-6" asp-for="@Model[i].PlayOff1"/>
                        <span asp-validation-for="@Model[i].PlayOff1" class="text-danger"></span>
                    </dd>
                    <dt class="col-6 font-weight-bold" style="text-align:right">
                        Tổng cặp Playoff 2 (Loại trực tiếp)
                    </dt>
                    <dd class="col-6" name="sp2">
                        <input class="form-control col-6" asp-for="@Model[i].PlayOff2" />
                        <span asp-validation-for="@Model[i].PlayOff2" class="text-danger"></span>
                    </dd>
                    <dt class="col-6 font-weight-bold" style="text-align:right">
                        Tổng số cặp đi tiếp
                    </dt>
                    <dd class="col-6">
                        <input class="form-control col-6" disabled name="ssum" style="text-align:center"/>
                    </dd>
                </dl>
            </div>
        </div>
    }
    <div class="form-group">
        @if (ViewBag.Exist == true)
        {
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Tạo danh sách trận đấu</button>
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true" style="display: none">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmLabel">Xác nhận</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Đã có danh sách trận trong cơ sở dữ liệu! Bạn có chắc chắn muốn tạo danh sách trận đấu? Nếu tiếp tục sẽ
                            <span class="text-danger">
                                xóa danh sách trận cũ vĩnh viễn.
                            </span>
                            Hành động này không thể bị khôi phục.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                            <input type="submit" value="Tiếp tục" class="btn btn-danger" formmethod="post" asp-route-exist="true" />
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <input type="submit" value="Tạo danh sách trận đấu" class="btn btn-danger" formmethod="post" />
        }
    </div>
</form>
@section Scripts {
    <script type="text/javascript">
        //$(document).ready(function () {UpdateSum();});  --> Tương đương với $(function(){})
        $(function () {
            UpdateSum();
            function UpdateSum() {
                //debugger;
                var bang = document.getElementsByTagName("tbody");         // Danh sách các bảng trong trình
                var mchosen = document.getElementsByName("chosen");         // Danh sách phần tử chọn
                var nPlayOff1;                                              // Tổng cặp P1
                var nPlayOff2;                                              // Tổng cặp P2
                //debugger;
                // Khai báo name trực tiếp
                var mSum = document.getElementsByName("ssum");       // Tổng cặp vào vòng tiếp theo
                var mSelect = document.getElementsByName("sselect");        // Tổng cặp chọn trực tiếp

                //var mPlayOff    = document.getElementsByName("playoff");    // Danh sách phần tử playoff
                var mnbangcur = 0;
                var mnbangold = 0;

                var nSelect;
                var nSum;
                for (let i = 0; i < bang.length; i++) {
                    nSelect = 0;
                    nSum = 0;
                    mnbangcur = bang[i].getElementsByTagName("tr").length;
                    for (let j = 0; j < mnbangcur; j++) {
                        nSelect += Number(mchosen[j + mnbangold].childNodes[0].value);
                    }

                    nPlayOff1 = document.getElementById("z" + i + "__PlayOff1");
                    nPlayOff2 = document.getElementById("z" + i + "__PlayOff2");
                    nSum = nSelect + Number(nPlayOff1.value) + Number(nPlayOff2.value);
                    mnbangold += mnbangcur;
                    // Gán lại giá trị thể hiện trên Web
                    mSelect[i].value    = nSelect.toString();
                    //mPlayOff2[i].value  = nPlayOff2.toString();
                    mSum[i].value       = nSum.toString();
                }
            };
            function CheckPlayOff() {
                var bang = document.getElementsByTagName("tbody");         
                var lChosen;                                                
                var nChosen;                                                
                for (let i = 0; i < bang.length; i++) {
                    nChosen = 0;
                    mnbangcur = bang[i].getElementsByTagName("tr").length;
                    for (let j = 0; j < mnbangcur; j++) {
                        nSelect += Number(mchosen[j + mnbangold].childNodes[0].value);
                        //debugger;
                        lChosen = document.getElementById("z" + i + "__ChosenPerTable_" + j + "__Playoff");
                        if (lChosen.value == "true") nChosen++;
                    }

                    nPlayOff1 = document.getElementById("z" + i + "__PlayOff1");
                    nPlayOff2 = document.getElementById("z" + i + "__PlayOff2");
                    if (Number(nPlayOff2.value) > 0) {
                        if ((nChosen - Number(nPlayOff1.value) - Number(nPlayOff2.value) * 2) != 0) { alert("PlayOff 2 và số phần tử chọn không phù hợp") }
                    }
                    mnbangold += mnbangcur;
                }
            }
            $("dd").on('input', function () { UpdateSum(); });
            $("td").on('input', function () { UpdateSum(); });
            $("ssum").on('input', function () { CheckPlayOff(); });

        });
    </script>

}
