@{
    ViewData["Title"] = "Thêm thông tin chi tiết trước khi tạo DS trận - Giải " + ViewBag.TourName;
}
@model List<MatchGeneratorViewModel>
<hr />
<form asp-action="AdditionalInfo">
    <div asp-validation-summary="All" class="text-danger"></div>
    @for (int i = 0; i < Model.Count; i++)
    {
        <input type="hidden" asp-for="@Model[i].ID_Trinh" />
        <input type="hidden" asp-for="@Model[i].Trinh" />
        <div class="card shadow mb-4" name="ntrinh">
            <div class="card-header py-3">
                <h5 class="font-weight-bold text-success">Trình @Model[i].Trinh</h5>
            </div>
            <div class="card-body">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="table-responsive">
                        <table class="table dataTable" >
                            <thead>
                                <tr>
                                    <th>Bảng</th>
                                    <th>Số cặp trong bảng</th>
                                    <th>Chọn số cặp đi tiếp</th>
                                    <th>Chọn bảng cho Playoff</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 0; j < Model[i].ChosenPerTable.Count; j++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model[i].ChosenPerTable[j].Table" />
                                            @Model[i].ChosenPerTable[j].Table
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="@Model[i].ChosenPerTable[j].PairsNum" />
                                            @Model[i].ChosenPerTable[j].PairsNum
                                        </td>
                                        <td class="align-center"><input class="form-control col-6" asp-for="@Model[i].ChosenPerTable[j].Chosen" name="chosen"/></td>
                                        <td><input class="checkbox" type="checkbox" asp-for="@Model[i].ChosenPerTable[j].Playoff" name="playoff"/></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2" style="text-align:right">Tổng số cặp đã chọn</th>
                                    <td class="align-center"><input class="form-control col-6" disabled name="sselect" /></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <dl class="row">
                    <dt class="col-6 font-weight-bold" style="text-align:right">
                        Tổng cặp Playoff 1 (Playoff cao nhất)
                    </dt>
                    <dd class="col-6">
                        <input class="form-control col-6" asp-for="@Model[i].PlayOff1" name="sp1"/>
                        <span asp-validation-for="@Model[i].PlayOff1" class="text-danger"></span>
                    </dd>
                    <dt class="col-6 font-weight-bold" style="text-align:right">
                        Tổng cặp Playoff 2 (Loại trực tiếp)
                    </dt>
                    <dd class="col-6">
                        <input class="form-control col-6" asp-for="@Model[i].PlayOff2" name="sp2"/>
                        <span asp-validation-for="@Model[i].PlayOff2" class="text-danger"></span>
                    </dd>
                    <dt class="col-6 font-weight-bold" style="text-align:right">
                        Tổng số cặp đi tiếp
                    </dt>
                    <dd class="col-6">
                        <input class="form-control col-6" disabled name="ssum"/>
                    </dd>
                </dl>
            </div>
        </div>
    }
    <div class="form-group">
        @if (ViewBag.Exist == true)
        {
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Tạo danh sách trận đấu</button>
            <div class="modal fade show" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true" style="display: none">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmLabel">Xác nhận</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Đã có danh sách trận trong cơ sở dữ liệu! Bạn có chắc chắn muốn tạo danh sách trận đấu? Nếu tiếp tục sẽ
                            <span class="text-danger">
                                xóa danh sách trận cũ vĩnh viễn.
                            </span>
                            Hành động này không thể bị khôi phục.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                            <input type="submit" value="Tiếp tục" class="btn btn-danger" formmethod="post" asp-route-exist="true" />
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <input type="submit" value="Tạo danh sách trận đấu" class="btn btn-danger" formmethod="post" />
        }
    </div>
</form>
@section Scripts {
    <script type="text/javascript">
        //$(document).ready(function () {UpdateSum();});
        $(function () {
            //$(document).ready(function () { UpdateSum(); });
            UpdateSum();
            function UpdateSum() {
            //    debugger;
                var bang = document.getElementsByTagName("tbody");         // Danh sách các bảng trong trình
                var mSelect = document.getElementsByName("sselect");        // Tổng cặp chọn trực tiếp
                var mPlayOff1   = document.getElementsByName("sp1");        // Tổng cặp P1
                var mPlayOff2   = document.getElementsByName("sp2");        // Tổng cặp P2
                var mSum        = document.getElementsByName("ssum");       // Tổng cặp vào vòng tiếp theo
                var mchosen     = document.getElementsByName("chosen");     // Danh sách phần tử chọn
                var mPlayOff    = document.getElementsByName("playoff");    // Danh sách phần tử playoff
                var mnbangcur = 0;
                var mnbangold = 0;

                var nSelect;
                var nPlayOff2 ;
                var nSum;
                for (let i = 0; i < bang.length; i++) {
                    nSelect = 0;
                    nPlayOff2 = 0;
                    nSum = 0;
                    mnbangcur = bang[i].getElementsByTagName("tr").length;

                    for (let j = 0; j < mnbangcur; j++) {
                        nSelect += Number(mchosen[j + mnbangold].value);
                        if (mPlayOff[j + mnbangold].value == "true") nPlayOff2++;
                    }
                    nPlayOff2 -= Number(mPlayOff1[i].value);
                    nPlayOff2 = nPlayOff2 % 2;
                    nSum = nSelect + nPlayOff2 + Number(mPlayOff1[i].value);
                    mnbangold += mnbangcur;
                    // Gán lạigiá trị thể hiện trên Web
                    mSelect[i].value    = nSelect.toString();
                    mPlayOff2[i].value  = nPlayOff2.toString();
                    mSum[i].value       = nSum.toString();
                }
            };
            $("dd").on('input', function () {UpdateSum();});
            $("td").on('input', function () {UpdateSum();});
        });
    </script>

}
