@{ 
    bool a1 = ViewBag.IsCurrent == true;
}
@model IEnumerable<Models.DS_Trinh>
<form asp-action="AddLevel">
    <table class="table table-bordered dataTable" id="tblLevel">
        <thead>
            <tr>
                @if (a1)
                {
                    <th></th>
                }
                <th>
                    Trình
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string title = "Giải " + item.DS_Giai.Ten + " - Trình " + @item.Trinh;
                <tr>
                    @if (a1)
                    {
                        var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
                        {
                            BtnMsg = "Xóa",
                            Message = "xóa trình đấu" + item.Trinh,
                            ActionName = "DeleteLevel",
                            ControllerName = "Tournament",
                            RouteValues = new { id = item.Id }
                        };
                        <td><button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Xóa</button></td>
                    }
                    <td>
                        <a asp-action="LevelInfo" asp-route-isCurrent="@ViewBag.IsCurrent" asp-route-trinhID="@item.Id" asp-route-detailedTitle="@title" asp-route-model="null">
                            @item.Trinh
                        </a>   
                    </td>
                </tr>
            }
        </tbody>
        @if (a1)
        {
            <tfoot>
                <tr>
                    <td>
                        <input type="button" value="Thêm" class="btn btn-primary" />
                        <input type="hidden" value="@Model.First().ID_Giai" id="idGiai"/>
                    </td>
                    <td><input type="text" id="newLevel" class="form-control" formmethod="post"/></td>
                </tr>
            </tfoot>
        }
    </table>
</form>
