@{
    bool a1 = ViewBag.IsCurrent == true;
}
@model IEnumerable<Models.DS_VDV>
<div class="card shadow mb-4">
    @*<div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>*@
    <div class="card-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <form asp-action="SavePlayerState" asp-controller="Player"></form>
            @if (a1)
            {
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <input type="submit" value="Lưu thay đổi" class="btn btn-primary" formmethod="post">
                    </div>
                    <div class="col-sm-6">
                        <div id="dataTable_filter" class="dataTables_filter mr-4" style="position: absolute; right: 0;">
                            <dl class="row">
                                <dd>
                                    Search:
                                </dd>
                                <dd class="ml-2"><input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id="dataTable_filter" class="dataTables_filter col-sm-12">
                    <dl class="row">
                        <dd>
                            Search:
                        </dd>
                        <dd class="ml-2"><input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></dd>
                    </dl>
                </div>
            }
            <div class="table-responsive">
                <table class="table dataTable">
                    <thead>
                        <tr>
                            <th class="sorting" aria-controls="dataTable" aria-label="Tên tắt: activate to sort column ascending">
                                Tên tắt
                            </th>
                            @if (a1)
                            {
                                <th>Tham gia</th>
                                <th class="sorting" aria-controls="dataTable" aria-label="Mã cặp: activate to sort column ascending">
                                    Mã cặp
                                </th>
                            }
                            <th class="sorting" aria-controls="dataTable" aria-label="CLB: activate to sort column ascending">
                                CLB
                            </th>
                            <th class="sorting" aria-controls="dataTable" aria-label="Điểm cũ: activate to sort column ascending">
                                Điểm cũ
                            </th>
                            <th class="sorting" aria-controls="dataTable" aria-label="Điểm: activate to sort column ascending">
                                Điểm
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Ten_Tat</td>
                                @if (a1)
                                {
                                    <td><input asp-for="@item.Tham_Gia" class="ml-0 form-check-input" /></td>
                                    <td><input asp-for="@item.Ma_Cap" class="form-control" /></td>
                                }
                                <td>@item.CLB</td>
                                <td>@item.DiemCu</td>
                                <td>@item.Diem</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        
</div>