@*
    Match Table View Component
*@
@{
    int titleCount = 0, insertCount = 0, reflectCount = 0;
    var ListTable = (IEnumerable<MyCategory>)
}
@model List<Models.DS_Tran>
<form asp-action="TableResult">
    @for (int i = 0; i < Enumerable.Count(ViewBag.ListTable); i++)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="font-weight-bold text-success">Bảng @Enumerable.ElementAt(ViewBag.ListTable.ElementAt, i).Table</h5>
            </div>
            <div class="card-body">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="table-responsive">
                        <table class="table dataTable">
                            <thead>
                                <tr>
                                    <th style="background-color:teal"></th>
                                    @for (int j = 0; j < Enumerable.ElementAt(ViewBag.ListTable.ElementAt, i).Num; j++)
                                    {
                                        <th>@Model[titleCount].DS_Cap1.VDV1.Ten_Tat + @Model[titleCount].DS_Cap1.VDV2.Ten_Tat</th>
                                        titleCount++;
                                    }
                                    @{ insertCount = reflectCount = titleCount -= Enumerable.ElementAt(ViewBag.ListTable.ElementAt, i).Num; }
                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 0; j < Enumerable.ElementAt(ViewBag.ListTable.ElementAt, i).Num; j++)
                                {
                                    <tr>
                                        <th>
                                            @Model[titleCount].DS_Cap1.VDV1.Ten_Tat + @Model[titleCount].DS_Cap1.VDV2.Ten_Tat
                                            <input type="hidden" asp-for="@Model[titleCount].DS_Cap1.VDV1.Ten_Tat" />
                                            <input type="hidden" asp-for="@Model[titleCount].DS_Cap1.VDV2.Ten_Tat" />
                                        </th>
                                        @for (int k = 0; k < Enumerable.ElementAt(ViewBag.ListTable.ElementAt, i).Num; k++)
                                        {
                                            if (k == j)
                                            {
                                                <td style="background-color:teal"></td>
                                            }
                                            else if (j > k)
                                            {  // Insert result side
                                                <td>
                                                    <input class="form-control col-5" asp-for="@Model[insertCount].Kq_1" /> - <input class="form-control col-5" asp-for="@Model[insertCount].Kq_2" />
                                                    <input type="hidden" asp-for="@Model[insertCount].Id" />
                                                    <input type="hidden" asp-for="@Model[insertCount].ID_Vong" />
                                                </td>
                                                insertCount++;
                                            }
                                            else
                                            {  // Reflection side
                                                <td>
                                                    @Model[reflectCount].Kq_2 - @Model[reflectCount].Kq_1
                                                </td>
                                                reflectCount++;
                                            }
                                        }
                                        @{ titleCount++; }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="font-weight-bold text-success" style="text-align:center">Playoff</h5>
        </div>
        <div class="card-body">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="table-responsive">
                    <table class="table dataTable autoSum" style="text-align:center">
                        <thead>
                            <tr>
                                <th>Cặp 1</th>
                                <th>Kết quả</th>
                                <th>Cặp 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = titleCount; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Model[i].DS_Cap1.VDV1.Ten_Tat + @Model[i].DS_Cap1.VDV2.Ten_Tat
                                        <input type="hidden" asp-for="@Model[i].DS_Cap1.VDV1.Ten_Tat" />
                                        <input type="hidden" asp-for="@Model[i].DS_Cap1.VDV2.Ten_Tat" />
                                        <input type="hidden" asp-for="@Model[i].Id" />
                                        <input type="hidden" asp-for="@Model[i].ID_Vong" />
                                        @Model[i].
                                    </td>
                                    @if (ViewBag.Show == true)
                                    {
                                        <td>
                                            <input class="form-control col-5" asp-for="@Model[i].Kq_1" /> - <input class="form-control col-5" asp-for="@Model[i].Kq_2" />
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Model[i].Kq_1 - @Model[i].Kq_2
                                        </td>
                                    }
                                    <td>
                                        @Model[i].DS_Cap2.VDV1.Ten_Tat + @Model[i].DS_Cap2.VDV2.Ten_Tat
                                        <input type="hidden" asp-for="@Model[i].DS_Cap2.VDV1.Ten_Tat" />
                                        <input type="hidden" asp-for="@Model[i].DS_Cap2.VDV2.Ten_Tat" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Lưu thay đổi" class="btn btn-success" formmethod="post" />
    </div>

</form>