@using Microsoft.AspNetCore.Identity
@using Models
@inject SignInManager<AppUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Tennis Web</title>

    <!-- Custom fonts for this template-->
    <link href="~/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">

    <style type="text/css">
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-baseball-ball"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Tennis</div>
                </a>
            </li>
            <!-- ============== Match Results (Trọng tài - Referee) =============== -->
            <!-- Divider -->
            <li>
                <hr class="sidebar-divider">
            </li>
            <li class="sidebar-heading">
                Nhập kết quả
            </li>
            <!-- Nav Item -->
            <li class="nav-item @ViewBag.RActive">
                <a class="nav-link" asp-controller="Shipping" asp-action="Index">
                    <i class="fas fa-fw fa-chalkboard-teacher"></i>
                    <span>Kết quả thi đấu</span>
                </a>
            </li>
            <!-- ==========  Tournament Management (Manager) =================== -->
            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Manager")))
            {<!-- Divider -->
                <li> <hr class="sidebar-divider"> </li>
                <!-- Heading -->
                <li class="sidebar-heading"> Quản lý Giải đấu </li>
                <li class="nav-item @ViewBag.CActive">
                    <!-- Nav Item - New Tournament -->
                    <a class="nav-link" asp-controller="Tournament" asp-action="Index" asp-route-isCurrent="true">
                        <i class="fas fa-fw fa-running"></i>
                        <span>Giải đấu hiện tại</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.BActive">
                    <!-- Nav Item - Old Tournaments -->
                    <a class="nav-link" asp-controller="Tournament" asp-action="Index">
                        <i class="fas fa-fw fa-calendar-alt"></i>
                        <span>Xem các giải trước</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.PActive">
                    <!-- Nav Item - Players -->
                    <a class="nav-link" asp-area="Admin" asp-controller="Maintenance" asp-action="Index">
                        <i class="fas fa-fw fa-users"></i>
                        <span>Vận động viên</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.AActive">
                    <!-- Nav Item - Announcements -->
                    <a class="nav-link" asp-controller="Vehicle" asp-action="Index">
                        <i class="fas fa-fw fa-bullhorn"></i>
                        <span>Thông báo chung</span>
                    </a>
                </li>
            }
            <!-- =================== Quản trị hệ thống (Admin)========================= -->
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {<!-- Divider -->
                <li> <hr class="sidebar-divider"> </li>
                <li class="sidebar-heading"> Quản trị hệ thống </li>
                <li class="nav-item @ViewBag.UActive">
                    <a class="nav-link" asp-controller="Manager" asp-action="Index">
                        <i class="fas fa-fw fa-user-circle"></i>
                        <span>Người sử dụng</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.IActive">
                    <a class="nav-link" asp-controller="File" asp-action="ImportExcel">
                        <i class="fas fa-fw fa-file-import"></i>
                        <span>Cập nhật từ Excel</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.EActive">
                    <a class="nav-link" asp-controller="File" asp-action="ExportExcel">
                        <i class="fas fa-fw fa-file-export"></i>
                        <span>Xuất ra file Excel</span>
                    </a>
                </li>
                }
                <!-- Sidebar Toggler (Sidebar) -->
                <li class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </li>
            </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column min-vh-100">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                <img class="img-profile rounded-circle" src="~/sbadmin/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-action="ResetPassWord" asp-controller="Account" asp-area="Admin">
                                    <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đổi Mật Khẩu
                                </a>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng Xuất
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
                    </div>
                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Tennis Web 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/sbadmin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/sbadmin/js/demo/chart-area-demo.js"></script>
    <script src="~/sbadmin/js/demo/chart-pie-demo.js"></script>
    @await Component.InvokeAsync("Notyf")
</body>
</html>