@model IEnumerable<Models.DS_VDV>

@{
    ViewData["Title"] = "Danh sách VĐV";
    ViewBag.PActive = "active";
}
<div class="card shadow mb-4">
    <div class="card-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="table-responsive">
                <table class="table dataTable" id="normalTable">
                    <thead>
                        <tr>
                            <th  style="text-align:left;">
                                @Html.DisplayNameFor(model => model.Ten_Tat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CLB)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Khach_Moi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.File_Anh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Diem)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Diem_Cu)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gioi_Tinh)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string gender;
                            if (item.Gioi_Tinh) gender = "Nữ";
                            else gender = "Nam";
                            <tr>
                                <td style="text-align:left">
                                    <a asp-action="Update" asp-route-id="@item.Id">@item.Ten_Tat</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CLB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Khach_Moi)
                                </td>
                                <td>
                                    <img src="@("~/Files/PlayerImg/" + item.File_Anh)" asp-append-version="true" width="70"/>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Diem)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Diem_Cu)
                                </td>
                                <td>
                                    @gender
                                </td>
                            </tr>

                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="text-align:left">
                                @Html.DisplayNameFor(model => model.Ten_Tat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CLB)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Khach_Moi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.File_Anh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Diem)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Diem_Cu)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gioi_Tinh)
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <a asp-action="Update" class="btn btn-success mr-2">Thêm mới</a>
    @if (User.IsInRole("Admin")) { <a asp-action="UpScore" class="btn btn-danger">Cập nhật điểm</a> }
</div>