@model IEnumerable<Models.DS_VDV>

@{
    ViewData["Title"] = "Danh sách VĐV";
}
<div class="card shadow mb-4">
    @*<div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>*@
    <div class="card-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            @*<div class="row mb-3">
                <div class="col-sm-6">
                    <a asp-action="Update" class="btn btn-primary">Thêm mới</a>
                </div>
                <div class="col-sm-6">
                    <div id="dataTable_filter" class="dataTables_filter mr-4" style="position: absolute; right: 0;">
                        <dl class="row">
                            <dd>
                                Search:
                            </dd>
                            <dd class="ml-2"><input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></dd>
                        </dl>
                    </div>
                </div>
            </div>*@
            <div id="dataTable_filter" class="dataTables_filter col-sm-12">
                <dl class="row">
                    <dd>Search:</dd>
                    <dd class="ml-2"><input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></dd>
                </dl>
            </div>
            <div class="table-responsive">
                <table class="table dataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Ho)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ten)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ten_Tat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CLB)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Khach_Moi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.File_Anh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Diem)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Diem_Cu)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gioi_Tinh)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string gender;
                            if (item.Gioi_Tinh) gender = "Nữ";
                            else gender = "Nam";
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ho)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ten)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ten_Tat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CLB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Khach_Moi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.File_Anh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Diem)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Diem_Cu)
                                </td>
                                <td>
                                    @gender
                                </td>
                                <td>
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info">Sửa</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <a asp-action="Update" class="btn btn-primary">Thêm mới</a>
                </div>
            </div>
        </div>
    </div>
</div>