@*
    Tournament Level List View Component
*@
@{
    bool a1 = ViewBag.IsCurrent == true;
}
@model IEnumerable<Models.DS_Trinh>
<div class="card shadow mb-4" style="width:40%; min-width: 200px">
    <div class="card-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <form asp-action="AddLevel" asp-controller="Tournament">
                <table class="table dataTable">
                    <thead>
                        <tr>
                            <th>
                                Trình
                            </th>
                            @if (a1)
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string title = "Giải " + item.DS_Giai.Ten + " - Trình " + @item.Trinh;
                            <tr>
                                <td>
                                    <a asp-route-tabname="Parameter" asp-route-isCurrent="@ViewBag.IsCurrent" asp-route-id="@item.Id" asp-route-detailedTitle="@title" asp-action="SwitchToTabs" asp-controller="Method">
                                        @item.Trinh
                                    </a>
                                </td>
                                @if (a1)
                                {
                                    var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
                                    {
                                        BtnMsg = "Xóa",
                                        Message = "xóa trình đấu " + item.Trinh,
                                        ActionName = "DeleteLevel",
                                        ControllerName = "Tournament",
                                        Id = item.Id.ToString()
                                    };
                                    <td><button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Xóa</button></td>
                                }
                            </tr>
                        }
                    </tbody>
                    @if (a1)
                    {
                        <tfoot>
                            <tr>
                                <td class="align-center">
                                    <input type="text" name="newLevel" class="form-control col-6" />
                                    <input type="hidden" value="@ViewBag.ID_Giai" name="idGiai" />
                                </td>
                                <td>
                                    <input type="submit" value="Thêm" class="btn btn-success" />
                                </td>
                            </tr>
                        </tfoot>
                    }
                </table>
            </form>
        </div>
    </div>
</div>
@if (a1 && Model.Count() > 0)
{
    <div class="form-group">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-target="#confirmModal">Tạo danh sách trận đấu</button>
    </div>

}
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmLabel">Xác nhận</h5>
                <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn
                <span class="text-warning">
                    tạo danh sách trận đấu?
                </span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Hủy</button>
                <a class="btn btn-warning" asp-action="AdditionalInfo" asp-controller="Match" asp-route-id="@ViewBag.ID_Giai.ToString()">Tiếp tục</a>
            </div>
        </div>
    </div>
</div>
