@{
    bool a1 = ViewBag.IsCurrent == true;
}
@model IEnumerable<Models.DS_Cap>
<div class="card shadow mb-4">
    <div class="card-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <form asp-action="AddPair" asp-controller="Level">
                <table class="table table-bordered dataTable" id="tblLevel">
                    <thead>
                        <tr>
                            <th>
                                VĐV 1
                            </th>
                            <th>
                                VĐV 2
                            </th>
                            <th>
                                Mã cặp
                            </th>
                            @if (a1)
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.VDV1.Ten_Tat
                                </td>
                                <td>
                                    @item.VDV2.Ten_Tat
                                </td>
                                <td>
                                    @item.Ma_Cap
                                </td>
                                @if (a1)
                                {
                                    var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
                                    {
                                        BtnMsg = "Xóa",
                                        Message = "xóa cặp VĐV " + item.VDV1.Ten_Tat + " và " + item.VDV2.Ten_Tat,
                                        ActionName = "DeletePair",
                                        ControllerName = "Level",
                                        Id = item.Id.ToString() 
                                    };
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Xóa</button>
                                        <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#editModal" data-url="@Url.Action("ChangePair", "Level", new { id = item.Id, idTrinh = ViewBag.ID_Trinh })">Sửa</button>
                                    </td>

                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (a1)
                {
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#editModal" data-url="@Url.Action("ChangePair", "Level", new { idTrinh = ViewBag.ID_Trinh })">Thêm cặp</button>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>
