@*
    Level Pair View Component
*@
@{
    bool a1 = ViewBag.IsCurrent == true;
}
@model IEnumerable<Models.DS_Cap>

@if (a1)
{
    <div class="form-group" style="text-align:right">
        <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#updatePair" data-url="@Url.Action("UpdatePair", "Level", new { idTrinh = ViewBag.ID_Trinh })">Thêm cặp</button>
    </div>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5>Danh sách cặp</h5>
    </div>
    <div class="card-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="table-responsive">
                <table class="table dataTable" id="normalTable">
                    <thead>
                        <tr>
                            <th>Mã cặp</th>
                            <th>VĐV 1</th>
                            <th>VĐV 2</th>
                            <th>Điểm cặp</th>
                            <th>Lệch trình</th>
                            @if (a1)
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã cặp</th>
                            <th>VĐV 1</th>
                            <th>VĐV 2</th>
                            <th>Điểm cặp</th>
                            <th>Lệch trình</th>
                            @if (a1)
                            {
                                <th></th>
                            }
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            int difference = item.Diem - item.DS_Trinh.Trinh;
                            <tr>
                                <td>@item.Ma_Cap</td>
                                <td>@item.VDV1.Ten_Tat</td>
                                <td>@item.VDV2.Ten_Tat</td>
                                <td>@item.Diem</td>
                                <td>@difference</td>
                                @if (a1)
                                {
                                    var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
                                    {
                                        BtnMsg = "Xóa",
                                        Message = "xóa cặp VĐV " + item.VDV1.Ten_Tat + " và " + item.VDV2.Ten_Tat,
                                        ActionName = "DeletePair",
                                        ControllerName = "Level",
                                        Id = item.Id.ToString()
                                    };
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Xóa</button>
                                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#updatePair" data-url="@Url.Action("UpdatePair", "Level", new { id = item.Id, idTrinh = item.ID_Trinh })">Sửa</button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.NoPairPlayers.Count > 0 && a1)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5>Danh sách VĐV chưa được xếp cặp</h5>
        </div>
        <div class="card-body">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="table-responsive">
                    <table class="table dataTable">
                        <thead>
                            <tr>
                                <th>Tên tắt</th>
                                <th>CLB</th>
                                <th>Điểm</th>
                                <th>Điểm cũ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.NoPairPlayers)
                            {
                                <tr>
                                    <td>@item.Ten_Tat</td>
                                    <td>@item.CLB</td>
                                    <td>@item.Diem</td>
                                    <td>@item.Diem_Cu</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>
