@{
    ViewData["Title"] = "Hội viên";
    Layout = "/Areas/_Layout.cshtml";
    ViewBag.MActive = "active visible-sm visible-xs";
}
@model IEnumerable<Models.DS_VDV>
<section class="visual">
    <div class="container">
        <div class="text-block">
            <div class="heading-holder">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <img src="~/images/img-bg.jpg" alt="" class="bg-stretch">
</section>
<section class="main">
    <div class="container">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="table-responsive">
                        <table class="table dataTable" id="normalTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ten_Tat)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CLB)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Khach_Moi)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.File_Anh)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Diem)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Diem_Cu)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Gioi_Tinh)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    string gender;
                                    if (item.Gioi_Tinh) gender = "Nữ";
                                    else gender = "Nam";
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ten_Tat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CLB)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Khach_Moi)
                                        </td>
                                        <td>
                                            <img src="@("~/PlayerImg/" + item.File_Anh)" asp-append-version="true" width="70" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Diem)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Diem_Cu)
                                        </td>
                                        <td>
                                            @gender
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>