@{
    Layout = "/Areas/_Layout.cshtml";
    ViewBag.CActive = "active visible-sm visible-xs";
    ViewData["Title"] = "Điều lệ";
    ViewData["Tagline"] = ViewBag.Tournament;

}
@model List<Models.Thong_Bao>

@foreach (var item in Model)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5>@item.Ten</h5>
        </div>
        <div class="card-body" style="text-align:left">
            @if (System.IO.Path.GetExtension(item.File_Path) == ".pdf")
            {
                <embed type="application/pdf" src="@("/Files/Announcement/" + item.File_Path)" width="800" height="800" />
                @*<embed type="application/pdf" src="@("/Files/Announcement/" + item.File_Path)"/>*@

            }
            @*else
            {
                <img src="@("~/Files/Announcement/" + item.File_Path)" asp-append-version="true" width="600" />
            }*@
            @if (item.File_Text != null)
            {
                <p>@Html.Raw(item.File_Text)</p>
                //Html.DisplayFor(modelItem => item.File_Text);
            }
        </div>
    </div>
}       
<div class="pro"></div>