@{
    ViewData["Title"] = "Phê duyệt VĐV";
}
@model List<Models.DS_VDV>
<hr />
<form asp-action="ApprovePlayer" asp-controller="Tournament">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="table-responsive">
                    <table class="table dataTable" id="noPaging">
                        <thead>
                            <tr>
                                <th style="text-align:left">Tên tắt</th>
                                <th>Duyệt Tham Gia</th>
                                <th>CLB</th>
                                <th>Điểm cũ</th>
                                <th>Điểm</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th style="text-align:left">Tên tắt</th>
                                <th>Duyệt Tham Gia</th>
                                <th>CLB</th>
                                <th>Điểm cũ</th>
                                <th>Điểm</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                            <tr>
                                <td style="text-align:left">@Model[i].Ten_Tat</td>
                                <td>
                                    <input type="hidden" asp-for="@Model[i].Id" />
                                    <input type="hidden" asp-for="@Model[i].Ten_Tat" />
                                    <input type="hidden" asp-for="@Model[i].CLB" />
                                    <input type="hidden" asp-for="@Model[i].Diem_Cu" />
                                    <input type="hidden" asp-for="@Model[i].Diem" />
                                    <input asp-for="@Model[i].Tham_Gia" type="checkbox" class="checkbox" />
                                @*<input asp-for="@Model[i].Phe_Duyet" type="checkbox" class="checkbox" />*@
                                </td>
                                <td>@Model[i].CLB</td>
                                <td>@Model[i].Diem_Cu</td>
                                <td>@Model[i].Diem</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Lưu thay đổi" class="btn btn-success" formmethod="post" />
    </div>
</form>
