@{
    ViewData["Title"] = "Chọn trình đấu để xem thông tin";
    //var vm = new List<TournamentTabViewModel>();
    //int i = 0;
}
@model IEnumerable<Models.DS_Trinh>
<hr />
@foreach (var item in Model)
{
    //var vmItem = new TournamentTabViewModel()
    //{
    //    IsCurrent = ViewBag.isCurrent,
    //    TrinhID = item.Id
    //};
    //vm.Add(vmItem);

    @*@(vmItem.IsCurrent = ViewBag.isCurrent)
        @(vmItem.ID_Trinh = item.Id)*@
    @*@vm.Add(vmItem);*@
    <div class="row ml-1">
        <a asp-action="TournamentInfo" asp-route-isCurrent="@ViewBag.IsCurrent" asp-route-TrinhID="@item.Id">
            • Giải @item.DS_Giai.Ten - Trình @item.Trinh
        </a>
    </div>
    //i++;
}
