@{
    if (ViewBag.isCurrent == true)
    {
        ViewBag.CActive = "active";
    }
    else ViewBag.BActive = "active";
    @if (Model != null)
    {
        ViewData["Title"] = "Chọn giải đấu để xem thông tin";
    }
    else ViewData["Title"] = "Thêm giải đấu mới";
}
@model IEnumerable<Models.DS_Giai>
<hr />
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="row ml-2">
            <a asp-action="TournamentInfo" asp-route-isCurrent="@ViewBag.isCurrent" asp-route-giaiID="@item.Id">
                • Giải @item.Ten
            </a>
        </div>
        if (ViewBag.isCurrent == true)
        {
            var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
            {
                BtnMsg = "Kết thúc",
                Message = "kết thúc giải đấu",
                ActionName = "EndTournament",
                ControllerName = "Tournament"
            };
            <button type="button" class="btn btn-primary mt-3 mr-2" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Kết thúc giải đấu</button>
            arg.BtnMsg = "Xóa";
            arg.Message = "xóa giải đấu";
            arg.ActionName = "DeleteTournament";
            <button type="button" class="btn btn-danger mt-3" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Xóa giải đấu</button>
        }
    }
}
else
{
    <a class="btn btn-primary" asp-action="TournamentInfo" asp-route-isCurrent="@ViewBag.isCurrent" asp-route-detailedTitle="giải mới">Thêm mới</a>
}
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>