@{
    ViewData["Title"] = "Thông tin giải " + ViewBag.TournamentTitle;
    if (Model.IsCurrent == true)
    {
        ViewBag.CActive = "active";
    }
    else ViewBag.BActive = "active";
}
@model TabViewModel
<hr />
@if (Model.IsCurrent == true)
{
    <div class="form-group">
        @*<div class="row ml-0 mb-1">
            <a asp-action="ApprovePlayer" asp-controller="Tournament">Đến DS phê duyệt VĐV 🡺</a>
        </div>*@
        <div class="row ml-0 mb-1">
            <a asp-action="ApprovePair" asp-controller="Tournament">Đến DS phê duyệt cặp 🡺</a>
        </div>
    </div>
}
<ul class="nav nav-tabs mt-3">
    <li role="presentation" class="nav-link @(Model.ActiveTab == Tennis_Web.Models.Tab.Info ? "active" : string.Empty)">
        <a asp-route-tabname="Info" asp-route-isCurrent="@Model.IsCurrent" asp-route-ID="@Model.ID" asp-action="SwitchToTabs" asp-controller="Method">Thông tin chung</a>
    </li>
    <li role="presentation" class="nav-link @(Model.ActiveTab == Tennis_Web.Models.Tab.LevelList ? "active" : string.Empty)">
        <a asp-route-tabname="LevelList" asp-route-isCurrent="@Model.IsCurrent" asp-route-ID="@Model.ID" asp-action="SwitchToTabs" asp-controller="Method">Danh sách trình</a>
    </li>
    <li role="presentation" class="nav-link @(Model.ActiveTab == Tennis_Web.Models.Tab.Player ? "active" : string.Empty)">
        <a asp-route-tabname="Player" asp-route-isCurrent="@Model.IsCurrent" asp-route-ID="@Model.ID" asp-action="SwitchToTabs" asp-controller="Method">Danh sách VĐV tham gia</a>
    </li>
</ul>
<div class="tab-content mt-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    @switch (Model.ActiveTab)
    {
        case Tennis_Web.Models.Tab.Info:
            @await Component.InvokeAsync("Info", Model);
            break;
        case Tennis_Web.Models.Tab.LevelList:
            @await Component.InvokeAsync("LevelList", Model);
            break;
        case Tennis_Web.Models.Tab.Player:
            @await Component.InvokeAsync("Player", Model);
            break;
        default:
            break;
    }
</div>