@*
    Table View Component
*@
@{
    int idTran = 0, idCap = 0;
    bool hasRole = ViewBag.Admin == true && ViewBag.IsCurrent == true;
    bool highRole = User.IsInRole("Manager") || User.IsInRole("Admin");
}
@model RoundTabViewModel
@if (Model.DS_Tran != null && Model.DS_Tran.Any())
{
    <form asp-action="Table_UpdateTable" asp-controller="Result">
        <input type="hidden" asp-for="@Model.ID_Trinh" />
        @for (int i = 0; i < ViewBag.ListTable.Count; i++)
        {
            var reflectCount = new List<int>();
            int id = idTran;
            // Make a list of reflection side ids for every column
            // [0, Count-1, (Count-1) + (Count-2), (Count-1) + (Count-2) + (Count-3),...]
            for (int x = 1; x < ViewBag.ListNum[i]; x++)
            {
                reflectCount.Add(id);
                id += (ViewBag.ListNum[i] - x);
            }
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5>Bảng @ViewBag.ListTable[i]</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="background-color:teal"></th>
                                @for (int j = 1; j < ViewBag.ListNum[i] + 1; j++)
                                {
                                    <th style="min-width:7rem">@ViewBag.ListTable[i]<span>@j</span></th>
                                }
                                <th>Số trận thắng</th>
                                <th>Hiệu số</th>
                                @if (highRole)
                                {
                                    <th>Bốc thăm</th>
                                }
                                <th>Xếp hạng</th>
                            </tr>
                        </thead>
                        <tbody name="bang" >
                            @for (int j = 0; j < ViewBag.ListNum[i]; j++)
                            {
                                <tr>
                                    <th>
                                        @Model.DS_Cap[idCap].VDV1.Ten_Tat + @Model.DS_Cap[idCap].VDV2.Ten_Tat
                                        <input type="hidden" asp-for="@Model.DS_Cap[idCap].Id" />
                                        <input type="hidden" asp-for="@Model.DS_Cap[idCap].ID_Trinh" />
                                    </th>
                                    @for (int k = 0; k < ViewBag.ListNum[i]; k++)
                                    {
                                        if (k == j)
                                        {
                                            <td style="background-color:teal"></td>
                                        }
                                        else if (j < k)
                                        {  // Insert result side
                                            if (hasRole)
                                            {
                                                <td name="ketqua">
                                                    @if (highRole || (!highRole && Model.DS_Tran[idTran].Kq_1 <= 0 && Model.DS_Tran[idTran].Kq_2 <= 0))
                                                    {
                                                        // If role is Manager or Admin => full editing
                                                        // If role is Referee => Only edit 0 field
                                                        <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[idTran].Kq_1" min="0" max="7" />
                                                    }
                                                    else
                                                    { <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[idTran].Kq_1" disabled min="0" max="7" />}

                                                    <span>-</span>
                                                    @if (highRole || (!highRole && Model.DS_Tran[idTran].Kq_1 <= 0 && Model.DS_Tran[idTran].Kq_2 <= 0))
                                                    {
                                                        // If role is Manager or Admin => full editing
                                                        // If role is Referee => Only edit 0 field
                                                        <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[idTran].Kq_2" min="0" max="7" />
                                                    }
                                                    else
                                                    { <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[idTran].Kq_2" min="0" max="7" disabled />}

                                                    <input type="hidden" asp-for="@Model.DS_Tran[idTran].Id" />
                                                    <input type="hidden" asp-for="@Model.DS_Tran[idTran].ID_Trinh" />
                                                    <input type="hidden" asp-for="@Model.DS_Tran[idTran].Ma_Vong" />
                                                </td>
                                            }
                                            else
                                            { // For No Role View
                                                <td>@Model.DS_Tran[idTran].Kq_1 - @Model.DS_Tran[idTran].Kq_2</td>
                                            }
                                            idTran++;
                                        }
                                        else
                                        {  // Reflection side
                                            <td name="kqsuydien">
                                                @Model.DS_Tran[reflectCount[k]].Kq_2 - @Model.DS_Tran[reflectCount[k]].Kq_1
                                            </td>
                                            reflectCount[k]++;
                                        }
                                    }
                                    @if (hasRole)
                                    {
                                        <td name="tranthang"><input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Cap[idCap].Tran_Thang" disabled /></td>
                                        <td name="hieuso"><input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Cap[idCap].Hieu_so" disabled /></td>
                                    }
                                    else
                                    {
                                        <td>@Model.DS_Cap[idCap].Tran_Thang</td>
                                        <td>@Model.DS_Cap[idCap].Hieu_so</td>
                                    }
                                    @if (highRole)
                                    {
                                        <td>
                                            <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Cap[idCap].Boc_Tham" />
                                        </td>

                                    }
                                    <td>@Model.DS_Cap[idCap].Xep_Hang</td>
                                </tr>
                                idCap++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        @if (hasRole)
        {
            <div class="form-group" style="position: -webkit-sticky; /* Safari */ position: sticky;">
                <input type="submit" value="Lưu KQ bảng" class="btn btn-success mr-2" formmethod="post" />
                @if (highRole)
                {
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">Tính xếp hạng</button>
                }
            </div>
        }
        @if (idTran < Model.DS_Tran.Count)
        {
            <hr />
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5>Playoff</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cặp 1</th>
                                <th>Kết quả</th>
                                <th>Cặp 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = idTran; i < Model.DS_Tran.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" asp-for="@Model.DS_Tran[i].Id" />
                                        <input type="hidden" asp-for="@Model.DS_Tran[i].Ma_Vong" />
                                        <input type="hidden" asp-for="@Model.DS_Tran[i].ID_Trinh" />
                                        @if (Model.DS_Tran[i].ID_Cap1 != null)
                                        {
                                            var pair1 = Model.DS_Cap.Find(m => m.Id == Model.DS_Tran[i].ID_Cap1);
                                            @pair1.VDV1.Ten_Tat <span> + </span> @pair1.VDV2.Ten_Tat
                                        }
                                    </td>
                                    @if (Model.DS_Tran[i].ID_Cap1 != null && Model.DS_Tran[i].ID_Cap2 != null && hasRole)
                                    {
                                        <td>
                                            @if (highRole || (!highRole && Model.DS_Tran[idTran].Kq_1 <= 0))
                                            {
                                                // If role is Manager or Admin => full editing
                                                // If role is Referee => Only edit 0 field
                                                <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[i].Kq_1" min="0" max="7" />
                                            }
                                            else
                                            { <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[i].Kq_1" min="0" max="7" disabled />}
                                            <span>-</span>
                                            @if (highRole || (!highRole && Model.DS_Tran[idTran].Kq_2 <= 0))
                                            {
                                                // If role is Manager or Admin => full editing
                                                // If role is Referee => Only edit 0 field
                                                <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[i].Kq_2" min="0" max="7" />
                                            }
                                            else
                                            { <input class="form-control form-control-sm sm-input" asp-for="@Model.DS_Tran[i].Kq_2" min="0" max="7" disabled />}
                                            <input type="hidden" asp-for="@Model.DS_Tran[i].ID_Cap1" />
                                            <input type="hidden" asp-for="@Model.DS_Tran[i].ID_Cap2" />
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Model.DS_Tran[i].Kq_1 - @Model.DS_Tran[i].Kq_2
                                        </td>
                                    }
                                    @if (Model.DS_Tran[i].ID_Cap2 != null)
                                    {
                                        var pair2 = Model.DS_Cap.Find(m => m.Id == Model.DS_Tran[i].ID_Cap2);
                                        <td>@pair2.VDV1.Ten_Tat + @pair2.VDV2.Ten_Tat</td>

                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @if (hasRole && Model.DS_Tran.All(m => m.ID_Cap1 != null && m.ID_Cap2 != null))
            {
                <div class="form-group" style="position: -webkit-sticky; /* Safari */ position: sticky;">
                    <input type="submit" value="Lưu KQ playoff" class="btn btn-success" formaction="/Result/Playoff_Update" />
                </div>
            }
        }
        @if (highRole)
        {
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true" style="display: none">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmLabel">Xác nhận</h5>
                            <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Bạn có chắc chắn muốn tính lại xếp hạng? Danh sách cặp vào vòng đặc biệt có thể sẽ thay đổi.
                            Hành động này không thể bị khôi phục.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Hủy</button>
                            <input type="submit" value="Tiếp tục" class="btn btn-primary" formaction="/Result/Table_PerformRanking" />
                        </div>
                    </div>
                </div>
            </div>
        }

    </form>
}
else
{
    <h5 class="text-danger">Chưa có danh sách trận đấu!</h5>
}
