@*
    Table View Component
*@
@{
    int insertCount = 0, titleCount = 0;
    bool hasRole = ViewBag.Admin;
    string color = "#ffce1b";
    if (hasRole) color = "teal";
    bool isCurrent = ViewBag.IsCurrent == true;
    bool showDraws = User.IsInRole("Manager") || User.IsInRole("Admin");
}
@model RoundTabViewModel
@if (Model.DS_Tran.Any())
{
    <form asp-action="UpdateTable" asp-controller="Result">
        <input type="hidden" asp-for="@Model.ID_Trinh" />
        @for (int i = 0; i < ViewBag.ListTable.Count; i++)
        {
            var reflectCount = new List<int>();
            int id = insertCount;
            // Make a list of reflection side ids for every column
            // [0, Count-1, (Count-1) + (Count-2), (Count-1) + (Count-2) + (Count-3),...]
            for (int x = 1; x < ViewBag.ListNum[i]; x++)
            {
                reflectCount.Add(id);
                id += (ViewBag.ListNum[i] - x);
            }
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="font-weight-bold text-success">Bảng @ViewBag.ListTable[i]</h5>
                </div>
                <div class="card-body">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="table-responsive">
                            <table class="table dataTable">
                                <thead>
                                    <tr>
                                        <th style="background-color:@color"></th>
                                        @for (int j = 1; j < ViewBag.ListNum[i] + 1; j++)
                                        {
                                            <th style="width:6rem">@ViewBag.ListTable[i]<span>@j</span></th>
                                        }
                                        <th>Số trận thắng</th>
                                        <th>Hiệu số</th>
                                        @if (showDraws)
                                        {
                                            <th>Bốc thăm</th>
                                        }
                                        <th>Xếp hạng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int j = 0; j < ViewBag.ListNum[i]; j++)
                                    {
                                        <tr>
                                            <th>
                                                @Model.DS_Cap[titleCount].VDV1.Ten_Tat + @Model.DS_Cap[titleCount].VDV2.Ten_Tat
                                            </th>
                                            @for (int k = 0; k < ViewBag.ListNum[i]; k++)
                                            {
                                                if (k == j)
                                                {
                                                    <td style="background-color:@color"></td>
                                                }
                                                else if (j < k)
                                                {  // Insert result side
                                                    if (hasRole)
                                                    {
                                                        <td>
                                                            <input class="form-control form-control-sm right-padding" asp-for="@Model.DS_Tran[insertCount].Kq_1" />
                                                            -
                                                            <input class="form-control form-control-sm left-padding" asp-for="@Model.DS_Tran[insertCount].Kq_2" />
                                                            <input type="hidden" asp-for="@Model.DS_Tran[insertCount].Id" />
                                                            <input type="hidden" asp-for="@Model.DS_Tran[insertCount].Ma_Vong" />
                                                        </td>
                                                    }
                                                    else
                                                    { // For No Role View
                                                        <td>@Model.DS_Tran[insertCount].Kq_1 - @Model.DS_Tran[insertCount].Kq_2</td>
                                                    }
                                                    insertCount++;
                                                }
                                                else
                                                {  // Reflection side
                                                    <td>
                                                        @Model.DS_Tran[reflectCount[k]].Kq_2 - @Model.DS_Tran[reflectCount[k]].Kq_1
                                                    </td>
                                                    reflectCount[k]++;
                                                }
                                            }
                                            @if (hasRole) { 
                                                <td><input class="form-control form-control-sm sm-no-padding" asp-for="@Model.DS_Cap[titleCount].Tran_Thang" disabled/></td>
                                                <td><input class="form-control form-control-sm sm-no-padding" asp-for="@Model.DS_Cap[titleCount].Hieu_so" disabled/></td>
                                            }
                                            else { 
                                                <td>@Model.DS_Cap[titleCount].Tran_Thang</td>
                                                <td>@Model.DS_Cap[titleCount].Hieu_so</td>
                                            }
                                            @if (showDraws)
                                            {
                                                <td><input class="form-control form-control-sm sm-no-padding" asp-for="@Model.DS_Cap[titleCount].Boc_Tham" /></td>
                                                   
                                            }
                                            <td>@Model.DS_Cap[titleCount].Xep_Hang</td>
                                        </tr>
                                        titleCount++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (insertCount < Model.DS_Tran.Count)
        {
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="font-weight-bold text-success">Playoff</h5>
                </div>
                <div class="card-body">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="table-responsive">
                            <table class="table dataTable">
                                <thead>
                                    <tr>
                                        <th>Cặp 1</th>
                                        <th>Kết quả</th>
                                        <th>Cặp 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = insertCount; i < Model.DS_Tran.Count; i++)
                                    {
                                        <tr>
                                            @if (Model.DS_Tran[i].ID_Cap1 != null)
                                            {
                                                var pair1 = Model.DS_Cap.Find(m => m.Id == Model.DS_Tran[i].ID_Cap1);
                                                <td>
                                                    <input type="hidden" asp-for="@Model.DS_Tran[i].Id" />
                                                    <input type="hidden" asp-for="@Model.DS_Tran[i].Ma_Vong" />
                                                    @pair1.VDV1.Ten_Tat + @pair1.VDV2.Ten_Tat
                                                </td>

                                            }
                                            else
                                            {
                                                <td>
                                                    <input type="hidden" asp-for="@Model.DS_Tran[i].Id" />
                                                    <input type="hidden" asp-for="@Model.DS_Tran[i].Ma_Vong" />
                                                    @Model.DS_Tran[i].Ma_Tran
                                                </td>
                                            }
                                            @if (Model.DS_Tran[i].ID_Cap1 != null && Model.DS_Tran[i].ID_Cap2 != null && hasRole)
                                            {
                                                <td>
                                                    <input class="form-control form-control-sm right-padding" asp-for="@Model.DS_Tran[i].Kq_1" />
                                                    -
                                                    <input class="form-control form-control-sm left-padding" asp-for="@Model.DS_Tran[i].Kq_2" />
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Model.DS_Tran[i].Kq_1 - @Model.DS_Tran[i].Kq_2
                                                </td>
                                            }
                                            @if (Model.DS_Tran[i].ID_Cap2 != null)
                                            {
                                                var pair2 = Model.DS_Cap.Find(m => m.Id == Model.DS_Tran[i].ID_Cap2);
                                                <td>@pair2.VDV1.Ten_Tat + @pair2.VDV2.Ten_Tat</td>

                                            }
                                            else
                                            {
                                                <td>@Model.DS_Tran[i].Ma_Tran</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (hasRole && isCurrent)
        {
            <div class="form-group" style="position: -webkit-sticky; /* Safari */ position: sticky;">
                <input type="submit" value="Lưu thay đổi" class="btn btn-success mr-2" formmethod="post" />
                <input type="submit" value="Tính lại xếp hạng" class="btn btn-primary" formaction="/Result/PerformRanking" />
            </div>
        }
    </form>
}
else
{
    <h5 class="font-weight-bold text-danger">Chưa có danh sách trận đấu!</h5>
}
