@*
    Tournament Player View Component
*@
@{
    bool a1 = ViewBag.IsCurrent == true;
}
@model List<Models.DS_VDV>
@*<p>
        Hiện danh sách
        <select id="ctrl-show-selected" class="form-control">
            <option value="all" selected>tất cả VĐV</option>
            <option value="selected">VĐV tham gia</option>
            <option value="not-selected">VĐV không tham gia</option>
        </select>
    </p>*@
<form asp-action="SavePlayerState" asp-controller="Tournament">
    @if (a1)
    {
        <div class="form-group" style="text-align:right">
            <input type="hidden" name="idGiai" value="@ViewBag.ID_Giai" />
            <input type="submit" value="Lưu thay đổi" class="btn btn-success" formmethod="post" />
        </div>
    }
    <div class="card shadow mb-4">
        <div class="card-body">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="table-responsive">
                    <table class="table dataTable" id="noPaging" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="text-align:left">Tên tắt</th>
                                @if (a1)
                                {
                                    <th>Tham gia</th>
                                }
                                <th>CLB</th>
                                <th>Điểm cũ</th>
                                <th>Điểm</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th style="text-align:left">Tên tắt</th>
                                @if (a1)
                                {
                                    <th>Tham gia</th>
                                }
                                <th>CLB</th>
                                <th>Điểm cũ</th>
                                <th>Điểm</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td style="text-align:left">@Model[i].Ten_Tat</td>
                                    @if (a1)
                                    {
                                        <td>
                                            <input type="hidden" asp-for="@Model[i].Id" />
                                            <input type="hidden" asp-for="@Model[i].Ten_Tat" />
                                            <input type="hidden" asp-for="@Model[i].CLB" />
                                            <input type="hidden" asp-for="@Model[i].Diem_Cu" />
                                            <input type="hidden" asp-for="@Model[i].Diem" />
                                            <input asp-for="@Model[i].Tham_Gia" type="checkbox" class="form-check-input" id="chk_@i" />
                                        </td>
                                    }
                                    <td>@Model[i].CLB</td>
                                    <td>@Model[i].Diem_Cu</td>
                                    <td>@Model[i].Diem</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>