@{
    bool a1 = ViewBag.IsCurrent == true;
}
@model List<Models.DS_VDV>
<form asp-action="SavePlayerState" asp-controller="Tournament">
    <div class="card shadow mb-4">
        @*<div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>*@
        <div class="card-body">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="table-responsive">
                    <table class="table dataTable" id="myTable">
                        <thead>
                            <tr>
                                <th>Tên tắt</th>
                                @if (a1)
                                {
                                    <th>Tham gia</th>
                                }
                                <th>CLB</th>
                                <th>Điểm cũ</th>
                                <th>Điểm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td>@Model[i].Ten_Tat</td>
                                    @if (a1)
                                    {
                                        <td>
                                            @Html.HiddenFor(m => m[i].Id)
                                            @Html.HiddenFor(m => m[i].Ho)
                                            @Html.HiddenFor(m => m[i].Ten)
                                            @Html.HiddenFor(m => m[i].Ten_Tat)
                                            @Html.HiddenFor(m => m[i].Ma_Cap)
                                            @Html.HiddenFor(m => m[i].Gioi_Tinh)
                                            @Html.HiddenFor(m => m[i].CLB)
                                            @Html.HiddenFor(m => m[i].Khach_Moi)
                                            @Html.HiddenFor(m => m[i].Picture)
                                            @Html.HiddenFor(m => m[i].File_Anh)
                                            @Html.HiddenFor(m => m[i].Tel)
                                            @Html.HiddenFor(m => m[i].Email)
                                            @Html.HiddenFor(m => m[i].Status)
                                            @Html.HiddenFor(m => m[i].Diem)
                                            @Html.HiddenFor(m => m[i].Diem_Cu)
                                            @Html.HiddenFor(m => m[i].Chuc_Vu)
                                            @Html.HiddenFor(m => m[i].Cong_Ty)
                                            @Html.CheckBoxFor(m => m[i].Tham_Gia, new { @class = "ml-3" })
                                        </td>
                                    }
                                    <td>@Model[i].CLB</td>
                                    <td>@Model[i].Diem_Cu</td>
                                    <td>@Model[i].Diem</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @if (a1)
    {
        <div class="form-group">
            <input type="hidden" name="idGiai" value="@ViewBag.ID_Giai"/>
            <input type="submit" value="Lưu thay đổi" class="btn btn-primary" formmethod="post" />
        </div>
    }
</form>