@{
    ViewData["Title"] = "Nhập dữ liệu từ Excel";
}
@model List<Tennis_Web.Models.EntityListViewModel>
<hr />
<form asp-action="ImportExcel" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h4 class="text-black-50">Chọn danh sách nhập dữ liệu</h4>
    <div class="form-group row ml-4">
        <div class="col-4">
            @for (int i = 0; i < 3; i++)
            {
                <div class="row">
                    <input type="hidden" asp-for="@Model[i].EntityName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label text-black-50">@Model[i].EntityName</label>
                </div>
            }
        </div>
        <div class="col-4">
            @for (int i = 3; i < 5; i++)
            {
                <div class="row">
                    <input type="hidden" asp-for="@Model[i].EntityName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label text-black-50">@Model[i].EntityName</label>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <input class="form-control mr-3" type="file" name="file" />
    </div>
    <div class="form-group">
        <input class="btn btn-success" formmethod="post" type="submit" value="Thêm mới" />
    </div>
</form>
