@model IEnumerable<Models.Media>

@{
    ViewData["Title"] = "Danh sách media";
    ViewBag.MActive = "active";
    var activityMenu = Library.FileInitializer.Initializer.ActivityMenu();
}
<div class="fixed-bar">
    <a asp-action="MediaUpdate" class="btn btn-success">Thêm mới</a>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="table-responsive">
                <table class="table dataTable" id="normalTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>
                                Hoạt động
                            </th>
                            <th>
                                Giải
                            </th>
                            <th>
                                Link hình
                            </th>
                            <th>
                                Link video
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>
                                Hoạt động
                            </th>
                            <th>
                                Giải
                            </th>
                            <th>
                                Link hình
                            </th>
                            <th>
                                Link video
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
                            {
                                BtnMsg = "Xóa",
                                Message = "xóa media " + item.Id,
                                ActionName = "DeleteMedia",
                                ControllerName = "File",
                                Id = item.Id.ToString()
                            };
                            <tr>
                                <td>
                                    <a class="btn btn-primary" asp-action="MediaUpdate" asp-route-id="@item.Id">
                                        <i class="fa fa-edit small-icon"></i>
                                    </a>
                                    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">
                                        <i class="fa fa-trash small-icon"></i>
                                    </button>
                                </td>
                                <td>
                                    @activityMenu[item.Ma_Menu]
                                </td>
                                <td>
                                    @item.DS_Giai.Ten
                                </td>
                                <td>
                                    <a href="@item.Link_Hinh">
                                        <i class="fas fa-fw fa-picture-o"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="@item.Link_Video">
                                        <i class="fas fa-fw fa-video-camera"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>
